[2014-06-09 22:47] luanfonceca opened #1 "Add some wysiwyg editor in the Description field"
We need to use some kind of wysiwyg editor in the description field of Proposal/Event Model.
One of our options is the [Medium Editor](https://github.com/daviferreira/medium-editor)

* The conversion of code to html is already being done by the template.

[2014-06-09 22:54] luanfonceca opened #2 "Show the Rate Index in the Proposals."
Actually, we can `Rate` some `Proposal`, but this value is not showed.
That would be good to show that value in the Event Detail page at the side of the Proposal's description.

[2014-06-09 23:05] luanfonceca opened #3 "Reverse for 'view_event' with arguments '()' and keyword arguments '{u'slug': ''}' not found."
When accessing the page `/events/event-title/proposals/proposal-title/update/`.
The broke code is: `<a href="{% url 'view_event' slug=event.slug %}" class="link text-upper">`

[2014-06-10 00:33] #3 closed, assigned to nobody

[2014-06-10 01:32] luanfonceca opened #4 "Remove Event"
We need to allow the Event's author,  he can delete his own Events, using the `django-vanilla-views` and a confirmation page.

[2014-06-10 01:33] luanfonceca opened #5 "Remove Proposal"
We need to allow the Proposal's author to delete his own Proposal, using the `django-vanilla-views` and a confirmation page for it.

[2014-06-10 02:03] luanfonceca opened #6 "Share Event"
We need to share the Event page in Facebook and Twitter.
I just don't know if we need to create a Facebook Page for the speakerfight.

[2014-06-10 02:04] luanfonceca opened #7 "Share Proposal"
We need to share the Proposal in Facebook and Twitter.

[2014-06-10 02:06] luanfonceca opened #8 "Set up Transifex."
In the Future we have to allow the user to choose which idiom he want. Then we will use [Transifex](https://www.transifex.com) for the management of translations.

[2014-06-10 02:09] luanfonceca opened #9 "Allow the user to choose which idiom he want."
Changing in the `Session` and who knows at the user's table too.

[2014-06-10 22:48] luanfonceca opened #10 "Make the CI deploy the server"
We already use Travis-ci, Coveralls and Digitalocean, that would be nice if when the test passes the Travis throw a fabric command to deploy in the server.
In this fabfile we need to install, if is not already installed and restart all the services.

[code]

[2014-06-11 03:58] luanfonceca opened #11 "Bug: "GET /static//img/speakerfight.ico HTTP/1.1" 404"

[2014-06-11 04:02] #11 closed, assigned to nobody

[2014-06-11 04:13] luanfonceca opened #12 "Use Smarturls"
[Smarturls](https://github.com/amitu/smarturls) is a simple app which creates named args for the regex configs of django url mapper.

[code]

And then in the `urls.py` file:

[code]

[2014-06-11 04:41] #12 closed, assigned to nobody

[2014-06-11 06:02] luanfonceca opened #13 "Fix the header name in /events/"
Today is wrong, "Proposals", and should be "Events"

[2014-06-11 06:04] #13 closed, assigned to nobody

[2014-06-14 03:10] luanfonceca opened #16 "Allow Events to be Published and Unpublished"
Add a boolean field called `is_published` with `default=False`, and a toggle button to publish/unpublish this event.
If there is a `request.user`, the `/events/` page show all the published events and the not published which the owner is the logged user, otherwise just the published ones.

[2014-06-24 23:12] #16 closed, assigned to nobody

[2014-06-24 23:32] luanfonceca opened #17 "Disallow the acces of the pages by using Decorators."
For now, we have some kind of "permission" which is needed to keep the integrity of the platform, like:
1. Not show or allow the access of any Event's url when the Events is not published yet, the same to the Proposal (instead in the cases where the logged user is the author).
2. Not show or allow any Event's url when the Event's author is not the logged user (Like the Update page).

[2014-06-25 01:48] luanfonceca opened #18 "Allow Proposals to be Published and Unpublished"
For the Mvp version, is satisfied to have just a Boolean field with a checkbox in the Update page to make that Publish/Unpublish action.
If there is a `request.user`, the `/events/<event_slug>/` page show all the published proposals and the not published which the owner is the logged user, otherwise just the published ones.

[2014-06-25 02:38] #18 closed, assigned to nobody

[2014-06-25 02:52] luanfonceca opened #19 "Empty Proposal title"
![screen shot 2014-06-24 at 11 52 16 pm](https://cloud.githubusercontent.com/assets/1490875/3381022/bfce3484-fc13-11e3-9684-febd785463f7.png)

[2014-06-25 02:55] #19 closed, assigned to nobody

[2014-06-27 04:18] #10 closed, assigned to nobody

[2014-06-27 08:56] luanfonceca opened #20 "Retrieve Email from Twitter and Google authentication providers"
This feature is highly required, because it is not a good idea to have users without a nice way to get in touch with him, or send notifications about the events or proposals.

[2014-06-27 10:07] #17 closed, assigned to nobody

[2014-06-28 09:32] luanfonceca opened #21 "Create pretty 404 and 500 pages"
We already have the templates in the `core/templates/` but they are just a plain text, that would be nice if we create a pretty one.

[2014-07-04 03:06] #20 closed, assigned to nobody

[2014-07-16 22:23] luanfonceca opened #23 "Add Due Date to Events."
The `due_date` field is not a required field, but if he is filled out, that Event will not acept proposals after that date pass.

[2014-07-16 23:19] #23 closed, assigned to nobody

[2014-07-17 02:08] luanfonceca opened #24 "Users created without the social login doesn't has first_name and last_name"
The Form of Signup, in the `/accounts/signup/` do not ask the `first_name` and `last_name`, for now we are just going to use the `@{{ username }}` for that.

[2014-07-17 02:08] #24 closed, assigned to nobody

[2014-07-17 02:37] luanfonceca opened #25 "{{ foo|default:'@'|add:bar }} bug"
![screen shot 2014-07-16 at 11 36 17 pm](https://cloud.githubusercontent.com/assets/1490875/3608213/3ef716ba-0d5b-11e4-940a-960abb317e36.png)

[2014-07-17 02:40] #25 closed, assigned to nobody

[2014-07-17 02:56] luanfonceca opened #26 "Shows the Event name on the <title>"
![screen shot 2014-07-16 at 11 55 29 pm](https://cloud.githubusercontent.com/assets/1490875/3608351/e286e6be-0d5d-11e4-826d-db80289654ce.png)

[2014-07-17 02:58] #26 closed, assigned to nobody

[2014-07-21 09:44] luanfonceca opened #27 "Hide all Proposals when the `Event.allow_public_voting` is False"
That would be nice if when the `Event` is "private", any Proposal should not be displayed.

[2014-07-21 09:56] luanfonceca opened #28 "Add `Jury`"
The `Jury` consist of `Users`, when the event not allow public voting, this is the only people who can actually vote in the `Proposals`.

[2014-07-21 23:12] #27 closed, assigned to nobody

[2014-07-22 02:32] luanfonceca opened #29 "Make a better Footer"
The actual Footer of our project is ridiculously ugly, is just a icon with 70px...

[2014-07-31 13:59] Irio opened #30 "Password reset page without visual identity"
URL: http://speakerfight.com/accounts/password/reset/

![password_reset_page](https://cloud.githubusercontent.com/assets/667753/3765353/d8cc2356-18ba-11e4-8f2b-ffa7623d9c6d.png)

Experienced on July 31, 2014.

[2014-07-31 14:04] Irio opened #31 "502 error on submitting for password reset"
URL: http://speakerfight.com/accounts/password/reset/

On submitting an e-mail associated with an existing account, I received "502 Bad Gateway"

![screen shot 2014-07-31 at 11 03 48 am](https://cloud.githubusercontent.com/assets/667753/3765435/8d961968-18bb-11e4-8933-41a817ca3932.png)

Experienced submitting the e-mail `iirineu+speakerfight@gmail.com` on July 31, 2014.

[2014-11-14 22:14] luanfonceca opened #32 "Embedded Submission proposal form"
This would be nice, if we had some kind of output html to include in Static sites, like disqus does.

Cons:
- Would be hard to fill the proposals and make login at the same time;
- We will lose some kind of fidelity of the users because they will "stop" of using our platform.

Pros:
- Instead of using a link to our platform the Static Sites of events can just embedded the form submission, then thi

[2014-11-14 22:17] luanfonceca opened #33 "Automatic Grade generation and Embbeded output"
We need first generate some Grade using some value, like `slots` of proposals and then organize the proposals, for now just using a ordinary order and let the user reorder, using some code like: http://tympanus.net/codrops/2014/11/11/drag-and-drop-interaction-ideas

This would be nice, if we had some an html output to include in Static sites the accepted proposals for a event, this will facilitate

[2014-11-14 22:19] luanfonceca opened #34 "Improve the Site"
The actually does not pass the meaning of our platform and must the improved, with something like screenshots, texts and a list of latest events.

[2014-11-14 22:20] luanfonceca opened #35 "Improve the Icons"
The today icons was downloaded and other are made by my self, but would be more nice if we use something like Font-awesome.

[2014-11-14 22:23] luanfonceca opened #36 "Remove login from Facebook, Gmail and Email."
As our target customers are all programmers, we need simplifies the process of login, allow just for Github.

And this will destroy the dependency of a email-system reminding people of they password and the multiple account problem (Where people with different email make login multiples times.).

[2014-11-14 22:24] luanfonceca opened #37 "Remove the `publish` flag."
In Proposals and Events, the `publish` flag is practically not used for anyone.
So or we remove him or just the to `publish = True`.

[2014-11-14 22:30] luanfonceca opened #38 "Allow the Organizer to approve Proposals by himself."

[2015-02-12 23:08] #28 closed

[2015-02-26 13:55] ewertonorg opened #41 "Update README.md or create CONTRIBUTING.md with how contribute instructions"
My suggestion is that the process to contribute should be detailed on the readme/contributing.
Something like this:
[CONTRIBUTING.md](https://github.com/angular/angular.js/blob/master/CONTRIBUTING.md)

[2015-03-23 21:04] fabiocerqueira opened #42 "Show proposals to anonymous user"
I created a public event, but the proposals only are shown to authenticated user. I think that proposals always should be displayed when event is public.

Example: http://speakerfight.com/events/viii-pylestras/

[2015-03-27 09:47] #42 closed

[2015-03-27 09:49] luanfonceca commented on #42
Thanks for notice that @fabiocerqueira, I just fixed this bug.

:dart:

[2015-04-05 20:10] luanfonceca opened #43 "Export Events"
Sometimes our Voting process is not enough, so we need to allow the `Author` and the `Admin` to export they event, for now just as CSV, with the `ID`, `Title` e `Author` of the proposals.

[2015-04-05 21:20] #43 closed

[2015-04-05 22:05] luanfonceca opened #44 "Jury users cannot see the vote options."
There is a problem that doesn't show the Vote buttons to Jury users.

[2015-04-06 00:40] #44 closed

[2015-05-29 17:09] raphapassini commented on #37
@luanfonceca,

I think the best aproach is just set de ```default``` to ```True```, do you agree? If so i'll take this one! :)

[2015-05-29 17:25] luanfonceca commented on #37
Hi @raphapassini, i agree with you, my only concern is that we do not have any feedback for the author that his proposal is still not published.

But yes, the default `True` is good enough for that.

o/

[2015-05-30 00:25] luanfonceca opened #46 "The voting process must to be using AJAX!"
In the Python Nordeste, we had a lot of feedback *requiring* that the voting process needed to be in realtime, so the cheapest way is using Ajax!

[2015-05-30 00:41] luanfonceca opened #47 "Redesign the index page"
I built the index page in some few second... So it would be nice if we get some time and rebuild it. Showing small features and the latest events, some links to share the Speakerfight on facebook.

Just that already is more than good.

[2015-05-30 02:50] lucasmiqueias commented on #47
I Will try redesign

[2015-05-30 14:52] jonatasoliveira commented on #47
@lucasmiqueias, I did a small redesign of index. If you have any suggestions please let me know.

[2015-05-30 14:57] jonatasoliveira commented on #36
Any thoughts about what to do with the login of people that already logged in using one of these authentication providers?

[2015-05-30 15:43] #47 closed

[2015-05-30 15:48] luanfonceca commented on #36
Hi @jonatasoliveira, i do, for me the best approach:
Remove the authentication using Facebook, Google and Email.
Send an email asking to the users to login using Github (some users already have signed in with Github after have an account using the email, for example).
Migrate the old user votes to the new `User`.
Delete the old ones.

[2015-05-30 16:25] jonatasoliveira commented on #36
Nice, @luanfonceca. There is any chance to do it automagically? Like the user login with Github and if it's the same email from another authentication we migrate the data.

[2015-05-30 16:34] luanfonceca commented on #36
I dont know, because the user must to allow the Github to use his account.
But in the email we can add direct link Github login, so He will need just to click and accept.

[2015-05-30 17:29] luanfonceca commented on #8
I already done this, we have a English resource, including the js content and Portuguese versions.

[2015-05-30 17:29] #8 closed

[2015-05-30 17:49] luanfonceca opened #49 "Feedback for the folks!"
I thinks in this triggers for email:

1. Signup;
2. Event created;
3. Event receives a new Proposal;
2. Proposal created (The Event jury and the Proposal author receives an email);
4. Proposal receives a Vote;
5. Past week feedback for the Event author;

[2015-05-30 23:52] jonatasoliveira opened #50 "Install a google analytics script to keep tracking of the system usage"

[2015-05-31 00:23] #50 closed

[2015-05-31 00:25] jonatasoliveira commented on #50
@luanfonceca, I sent to you an invite to the analytics page.

[2015-05-31 01:04] lucasmiqueias commented on #47
Nice, i will create the ux.

[2015-05-31 23:48] humrochagf opened #53 "Speaker Photo on proposals"
Add the speaker photo from its linked social profile on the proposal description

[2015-06-01 12:19] cacarrara commented on #1
Hey @luanfonceca, maybe we should close this issue now. ;)

[2015-06-01 13:37] luanfonceca commented on #1
Yes we should :D

[2015-06-01 13:37] #1 closed

[2015-06-01 17:04] iurisilvio opened #54 "Separate "call for papers" and "voting" periods"
I don't know the right way to do it, but ordering by creation date is too biased.

[2015-06-01 18:39] jonatasoliveira commented on #54
I think you're talking about the ordering of proposals.

If it's correct, I agree with you that is not the best field to sort, but I don't agree that will cause any issue with the vote itself. Maybe the issue is not about the ordering and more about the presentation of the proposals to do the voting.

What do you think?

[2015-06-01 20:54] iurisilvio commented on #54
I have some problems with the current voting system.

In some past Python Brasil, I remember I voted after the proposals were sent. You have two distinct phases, first you do the call for papers and after it you do the voting.

If I send a late proposal, I'll have less votes because I had less days to receive votes and my proposal will be at the end of the list, receiving less attention.

As I sai

[2015-06-01 23:01] viniciusban commented on #24
I signed up without social login and my username is been shown, instead of my first and last name.

Example: http://speakerfight.com/events/pythonbrasil11/#round-1-fight

[2015-06-02 01:38] cacarrara commented on #37
If https://github.com/luanfonceca/speakerfight/pull/55 be approved we can close this.

[2015-06-02 12:14] victor-torres commented on #54
Hi, @iurisilvio.

Did you mean we need distinct periods, such as 'Call for papers' and the 'Voting' itself?

The issue title is not that clear. Could you review it, please?

[2015-06-02 12:19] jonatasoliveira commented on #53
One of the easiest way to get a profile picture is using gravatar. Here is an example code:

[code]

Add the hash to the gravatar URL like this:
http://www.gravatar.com/avatar/1919bfc4fa95c7f6b231e583da677a17

[2015-06-02 12:33] iurisilvio commented on #54
@victor-torres yes, this is my idea. I created the issue because the ordering, but after some thought, I don't think it is possible to fix it reordering the proposals.

First, we need all proposals registered. This is the "Call for papers" time. I agree it is interesting to show the proposals and give some fake voting controls for social purposes.

After that, we need a voting period, maybe only f

[2015-06-02 16:04] luanfonceca commented on #37
This issue are being closed together with the PR: #55

[2015-06-02 16:04] #37 closed

[2015-06-02 16:11] luanfonceca commented on #54
Hi @iurisilvio, i am totally agree with you, and this work on Speakerfight, it is just the Event creators keep the voting process private (In the private mode, the users can just send proposals, without voting or people seeing anything) until some time, and then just make it public, they will have that distinct moments.

I understand that this "trick" is a fault of the Speakerfight ux, we need to

[2015-06-02 16:15] iurisilvio commented on #54
I never created an event, so I didn't knew it. Thanks for the
clarification.
On Jun 2, 2015 1:11 PM, "Luan Fonseca de Farias" <notifications@github.com>
wrote:

[2015-06-02 16:20] luanfonceca commented on #53
We already have that by using the `django-allauth`, of course this just work on people who have logged in using it.

[code]

[2015-06-02 16:26] luanfonceca commented on #24
Hi @viniciusban, we have a lots of drawbacks using the signup by email, the names, contact info, avatar... And We do not have plains for built a profile interface for now.

The truth is that we are more likely in removing it and keep just the Github, Google and Facebook auth.

[2015-06-02 16:28] luanfonceca commented on #54
It is just a hack, as I code it i know how it works haha

[2015-06-02 18:25] berinhard opened #56 "Problem with first time access to login"
I've cloned the project ant tried to work on some features but even following the README steps, I couldn't make the project run properly. On some pages I'm having troubles like these:

[code]

Although I can access the system local if I log on admin.

[2015-06-02 18:27] berinhard commented on #56
The same problem happens when I try to judge a proposal

[2015-06-02 19:44] viniciusban commented on #24
OK.

Would it be possible to migrate my account to a new one, created with Github or Google?

How would this procedure be?

[2015-06-02 21:34] victor-torres commented on #54
Seems that what you're asking for is already implemented and the actual voting process for Python Brasil [11] is due to the event's organization choice. So, wontfix, right?

By the way, I think fake voting is the worse scenario we could have. Imagine that I 'fake voted' someone. I will not come back to the event and vote again. It's already hard to get endusers clicks, trying to do that twice? Won

[2015-06-02 21:57] luanfonceca commented on #56
Thanks @berinhard!
I will close this issue together with the PR #57.

[2015-06-02 21:57] #56 closed

[2015-06-02 22:14] luanfonceca commented on #24
If you already created a proposal, event or vote in anything. For now, you need to create a new account using Github, for instance, and send me an [email](mailto:luanfonceca@gmail.com) with your username on Github and I will migrate it.

If you never did anything and the email from your Speakerfight account is different from the Github, just start using with your Github and abandon your old accoun

[2015-06-02 22:21] cacarrara commented on #46
Hi guys! I'm already working in this issue. To follow the work and to help/suggest here is my branch https://github.com/cacarrara/speakerfight/tree/voting-ajax

[2015-06-02 22:24] #6 closed

[2015-06-03 03:23] hmln opened #59 "Proposals should be separeted in 'voted' and 'not voted' to ease the voting process."
The current ordering is alphabetical and doesn't care about voted or non voted by the user. IMO, it would be better to show non voted proposals first or in a separate section.

Maybe a new screen showing only unvoted talks would be more helpful. Thoughts?

[2015-06-03 19:22] berinhard commented on #49
I'm a :+1: for all of these events, except the 5 and 6.

For example, let's imagine that a proposal receives 15 votes. If we are sending an email to the author, on every vote, he/she will receive 15 emails just saying: "oh, you have a vote for your proposal" and I don't think that this information is relevant itself. Maybe we could add a page (if it does not already exist) to the autor see the vot

[2015-06-03 19:22] berinhard commented on #49
Now, about the infrastructure, we need to define which mailing service we will use. I am :+1: for Mandrill.

[2015-06-03 19:25] berinhard commented on #49
I'm starting to work on this feature at [this branch](https://github.com/berinhard/speakerfight/tree/feature/feedback-email) right now.

[2015-06-03 20:48] luanfonceca commented on #49
Hi @berinhard, i am totally agreed with you, will be not a good idea to spam they mailbox like that. I will create an new issue for the Feedback page in the event then!

I am agree for us to use the Mandrill, they have a lots of email in the free version, so its ok for me too.

Thanks for all.
o/

[2015-06-03 20:52] luanfonceca opened #60 "Feedback page for the Event."
It will be nice for us to have an Web page for the Author (and the Jury) to see how his Event is going, how much Proposals and Votes they have. This page should at least be a little pretty, with charts and stuff like that.

This is totally related with the issue #49, maybe it should be better for this issue to start right after the #49 be finished.

[2015-06-04 14:31] luanfonceca commented on #59
Hi @hmln, the vote page needs a lots of improvements in his UI, we are about to add a new feature for not reloading the page in each vote we made. So we are working on this and of course we can rethink the way that the proposals are showed!

If we just order the proposals by the not voted first and by name, we will make a huge improvement on it, do you can take this?

[2015-06-04 19:39] hmln commented on #59
@luanfonceca , sure.

[2015-06-04 19:42] luanfonceca commented on #59
Nice!
We have a chat on [gitter.im](http://gitter.im/luanfonceca/speakerfight), if you want come to talk.

o/

[2015-06-05 21:50] humrochagf commented on #53
i wrote one using @luanfonceca idea, and @jonatasoliveira as a fallback

[2015-06-07 20:39] #53 closed

[2015-06-08 05:24] #59 closed

[2015-06-08 05:33] #46 closed

[2015-06-08 05:33] #54 closed

[2015-06-08 18:13] berinhard commented on #49
I'll need to do a change on the settings organization because today we have only one for testing, dev and prod purpose. For now, since we do not send any email, i'm changing Django's email backend to use memory, but I'll make another PR fixing the settings. Ok?

[2015-06-08 19:08] luanfonceca commented on #49
Its ok for me. We have the `local_settings.py`, I normally use it for put passwords and other sensitive data.

[2015-06-08 19:26] berinhard commented on #49
I'll split this issue in two others:

1 - Send sign up feedback: because the way to send the email changes on how the user is created.
2 - And the structure of settings as we discussed.

[2015-06-08 19:27] luanfonceca commented on #49
Thanks for that @berinhard

o/

[2015-06-08 19:29] berinhard opened #65 "Email feedback after sign up"
It would be nice to send an email to the user welcoming after him/her sign up.

[2015-06-08 19:32] berinhard opened #66 "Prepare settings for different environments"
Now we have only one settings file and this is a problem when we need more custom configuration depending on the environment, for example, the database or the email backends. We need to split it into differents settings for differents environments **or** make it more extensible. Maybe we could use @henriquebastos [project](https://github.com/henriquebastos/django-decouple) for decoupling it.

[2015-06-08 22:52] henriquebastos commented on #66
[django-decouple](https://github.com/henriquebastos/django-decouple) was deprecated. Use [python-decouple](https://github.com/henriquebastos/python-decouple) which will solve the configuration decoupling problem in any python project you may have.

I went through speakerfight's settings and using python-decouple should be simple.

[2015-06-09 20:15] cadu-leite opened #67 "404 after ask to reset e-mail at "reset done""
After post e-mail address to reset password ..
the user is redirect to the follow URL:

    http://speakerfight.com/accounts/password/reset/done/

that has a link named "sign up". When click on "signup" link in the above URL,
the browser try to load the following URL...

    http://speakerfight.com/accounts/password/reset/done/signup.html

and this URL returns a 404 page.

[2015-06-09 20:16] cadu-leite commented on #67
the same happens after post the reset password form, and clicked the sign up link
the follow URL returns a 404 page

    http://speakerfight.com/accounts/password/reset/key/done/signup.html

[2015-06-10 08:12] #49 closed

[2015-06-10 09:06] luanfonceca commented on #67
Hi @cadu-leite, thanks for noticing, the problem was caused by a link url, i just fix it!

This part of authentication is just a copy-and-paste from the `django-allauth`, that's why it is so ugly and full of this little bugs.

Thanks for all.

[2015-06-10 09:06] #67 closed

[2015-06-10 19:12] cadu-leite commented on #67
u r Welcome.
its just a litle peace and one could live with that.  we are devs anyway !
congrats by the app. well done

[2015-06-12 22:36] rougeth commented on #66
+1 to python-decouple and I can do it (:

[2015-06-16 11:47] cadu-leite opened #69 "message not visible on password reset form"
I made a mistake when writen my e-mail address on reset password form ...
and there was a error message, but I didint saw at the first moment.

may its a problem with me, but may be should be nice to paint it red and put it on bold. 8P

[2015-06-16 20:53] cadu-leite opened #70 "Some general Statistics along the event details"
What about show some statistics
ex.:

NUM of Proposals
Num of speakerd (may differ if a speaker send more than 1 )
Num of votes (total)

[2015-06-16 21:05] luanfonceca commented on #70
Hi @cadu-leite we can just summarize that data and show it on the "*Event List page*", in the "*Event Detail page*" and in the future add a more verbose information to be showed on the "*Event Feedback page*", according to the issue #60.

For now this can be an MVP version of the *Event Feedback page*, what did you think of it?!

And thanks for the feedback!

[2015-06-17 00:07] luanfonceca commented on #70
This solves? I am showing this just to the Author of the event, I think if it was public can discourage the new users to add proposals.

![screen shot 2015-06-16 at 9 04 34 pm](https://cloud.githubusercontent.com/assets/1490875/8197230/88e16736-146b-11e5-98f2-00f83acc700a.png)

[2015-06-17 00:18] cadu-leite commented on #70
may you are right

Em ter, 16 de jun de 2015 21:07, Luan Fonseca de Farias <
notifications@github.com> escreveu:

[2015-06-17 01:54] HigorMonteiro opened #71 "Acesso a conta"
estou com dificuldades na hora de logar com linha conta não da certo nem com gmail que foi que eu me cadastrei e nem com a conta do github , como posso rever minha conta ?
ja refiz minha senha inumaras vezes .

[2015-06-17 05:05] luanfonceca commented on #71
Qual tipo de dificuldade? Aparece algum erro na página, uma mensagem
estranha, é em algum momento específico do login?
Preciso de mais informações pra poder te ajudar o/

Entra no nosso chat depois: http://gitter.im/luanfonceca/speakerfight

Em ter, 16 de jun de 2015 10:54 PM, HigorMonteiro <notifications@github.com>
escreveu:

[2015-06-17 08:00] #70 closed

[2015-06-17 08:30] luanfonceca opened #72 "Gravatar image broke layout when is not used by the allauth"
![screen shot 2015-06-17 at 5 30 39 am](https://cloud.githubusercontent.com/assets/1490875/8202618/012ce5da-14b2-11e5-87ae-5208efacccb0.png)

[2015-06-17 08:33] #72 closed

[2015-06-23 13:21] HigorMonteiro commented on #71
Bom dia luan Fonseca!

Não consigo logar com minha conta do gmail para tipo acompanhar minha
proposta de palestra vc poderia me ajudar ?

Em quarta-feira, 17 de junho de 2015, Luan Fonseca de Farias <
notifications@github.com> escreveu:

[2015-06-23 16:31] luanfonceca commented on #71
Fala @HigorMonteiro, como te falei preciso de mais detalhes. o/

Apareceu alguma mensagem de erro, algo como:  "Essa conta social está conectada a um outro registro de usuário.", "Você já tem uma conta, mas escolheu o provedor errado para acessar desta vez."?

Preciso desse tipo de detalhes para reproduzir o teu problema e então resolve-lo. Porém o que eu acho que pode ter acontecido é: Você tento

[2015-06-23 17:08] luanfonceca opened #73 "Add more info in the CSV"
For now we just have: ID, Title, Author and Votes, would be nice if we can add more information like:
- How many Votes (For now we have a Sum of all votes),
- The author email (We use the login)

And we need to sort the Proposals by the most voted first.

[2015-06-23 17:08] HigorMonteiro commented on #71
iNFORMA QUE LOGIN OU SENHA NÃO CONFERE
LOGIN : higor.tecinfor@gmail.com

Em 23 de junho de 2015 13:31, Luan Fonseca de Farias <
notifications@github.com> escreveu:

[2015-06-24 03:20] cadu-leite commented on #73
WOW! what a masss !
well, finally there is a clean, and i hope a nice pull request for this one at

https://github.com/luanfonceca/speakerfight/pull/76

[2015-06-30 23:05] #73 closed

[2015-07-03 19:50] hmln commented on #69
Sorry for the duplicated references. I didn't know github would do that automagically.

[2015-07-09 22:54] luanfonceca commented on #69
I didnt know that too, but this is not a problem, i actually like it, because it shows that you are doing something related to this, in a bigger project it can become a mess, but for our case its a good thing in think

o/

o/

[2015-07-09 23:16] #71 closed

[2015-07-09 23:17] luanfonceca commented on #71
Fala @HigorMonteiro, consegui reproduzir o teu problema e então resolvê-lo, solicitei pela interface um reset da tua senha, redefine ela e tenta novamente que já ta tudo ok!

Valeu.

[2015-07-09 23:18] #4 closed

[2015-07-09 23:18] #7 closed

[2015-07-09 23:18] #31 closed

[2015-07-09 23:19] luanfonceca commented on #2
This is already maded, together with the issue #70

[2015-07-09 23:19] #2 closed

[2015-07-10 11:40] HigorMonteiro commented on #71
ok valeu vou olhar aqui .

Em 9 de julho de 2015 20:17, Luan Fonseca de Farias <
notifications@github.com> escreveu:

[2015-07-14 02:41] #38 closed

[2015-07-21 19:43] rennerocha commented on #36
Does it make sense remove login options for the system?
Why should it be required for the users to have an account in an specific closed and proprietary platform to allow them to login in the system? Even if the system has a programmer user focus, it is not mandatory that all participants of the events will be programmers too, and nor all programmers have Github accounts.

[2015-07-22 08:40] lucasmiqueias commented on #36
I Agree, not all programmers it has github.

[2015-07-23 22:56] #21 closed

[2015-07-23 23:28] luanfonceca commented on #36
There is some hard scenarios when you allow people to login with all that social networks:

1. Some people forget how social network he has been signed up, so they create unnecessary accounts.
2. Create one account for each possible authentication method to vote on his own proposal multiple times.
4. We need to offer a interface to, change password, reset password, change profile information.
5. W

[2015-07-24 00:14] rennerocha commented on #36
1. Some people forget how social network he has been signed up, so they create unnecessary accounts.
These accounts will not need maintenance. Just will be stored in the database. We can even disable them after some time, and if the user tries use them again, it could require reactivate, reset password or something like that.

2. Create one account for each possible authentication method to vote o

[2015-08-03 19:47] luanfonceca opened #81 "Multiple speakers in the same Proposal"
I already received more than two questions about that or something like it (Commonly are just two speakers in the same proposal).

[2015-08-04 19:29] luanfonceca commented on #36
Hi @rennerocha, i agreed with you on all that, i just don't agree on spent time in all that, but its okay for me.

We already use `django-allauth`. So, this process should be less painful. I am okay with the all authentication methods, but we need to apply the Speakerfight style to the pages, so i am opening a issue for each page that should exist and relate that issues with this one, for people t

[2015-08-04 19:30] luanfonceca commented on #41
We are need this so mucj high now, can you get back to this @ewertonorg?

We can discuss here what should and should not enter in this file.

[2015-08-06 02:42] sergiovilar commented on #36
Github is currently not working, I only see this message when try to login:

[code]

[2015-08-11 11:38] felipevolpone commented on #65
@luanfonceca I implemented it. I canno't test it so well 'cause settings.py doesn't have all email configurations like EMAIL_HOST, EMAIL_PORT, etc. Btw, If something is wrong please tell me.

[2015-08-11 11:54] felipevolpone commented on #65
You can check it in this PR https://github.com/luanfonceca/speakerfight/pull/82

[2015-08-15 05:24] luanfonceca commented on #65
Closing this issues according the PR #83.

[2015-08-15 05:24] #65 closed

[2015-08-15 05:25] luanfonceca commented on #30
Closing this issues according the PR #84.

[2015-08-15 05:25] #30 closed

[2015-08-15 05:27] luanfonceca commented on #36
I am closing this talk, through the issues #30 and #65, we are improving the UX of the '/accounts/' interface. It needs to be much better, for now "working" is good enough.

o/

[2015-08-15 05:27] #36 closed

[2015-08-15 05:29] luanfonceca commented on #69
@hmln how it is going the PR for this issue?

o/

[2015-08-15 05:32] luanfonceca opened #85 "Implement "Organizers" for the Event"
All events has a group of people for make the event happen, so it is not fair to allow just one person for be responsible for all the call for papers area.

[2015-08-18 18:16] luanfonceca opened #88 "Add breadcrumb to the rest of pages."
Actually the breadcrumb is only used in the event detail page, there should be in the following pages:

- Jury page;
- Event update;
- Proposal Update.

[2015-08-18 21:02] #5 closed

[2015-08-18 21:38] tarsisazevedo opened #90 "See my talks"
I want a page to see the all talks I submit.

[2015-08-18 21:39] tarsisazevedo opened #91 "Change vote"
I want to change vote I gave to a talk.

[2015-08-18 21:48] luanfonceca opened #92 "Notify the jury about removed proposals"
Just send an email to the event jury, informing that some user removed they proposal, like we send after someone create, we should to send when they delete.

[2015-08-19 17:48] #92 closed

[2015-08-20 00:44] mauricioabreu commented on #91
Thank your for opening this issue.

To make this work, I think all rating images (laughing, happy, angry, etc) should appear in the screen at the same time. The one you voted for should have no transparency (like when you move your mouse over the faces).

What is your opinion? What about yours @luanfonceca ?

[2015-08-20 01:07] luanfonceca commented on #91
We can add a `opacity: 0.4` maybe this can be enough.

 o/

[2015-08-20 01:10] mauricioabreu commented on #91
Ok, agreed.

[2015-08-20 14:30] mauricioabreu commented on #90
@luanfonceca @tarsisazevedo Should this page show how many votes all user talks have?
Currently there is no way to see this information, is there?

[2015-08-20 16:36] luanfonceca commented on #90
If we show how many votes this can influence the user to abandon the event
or something like, but normally the events processes doesn't use just the
votes for choose the talks... I didn't think it is good to show, just the
proposal with the action block and when it is clicked we can redirect to
the event detail page with the proposal anchored in the url.

o/

Em qui, 20 de ago de 2015 11:30 AM, Ma

[2015-08-20 16:53] mauricioabreu commented on #90
But votes would be just visible for authors, co-authors and jury. Is not that a good thing?

[2015-08-20 17:22] luanfonceca commented on #90
They are visible for they, this page is only for the user it self, the
author of the event will not see this page.

Em qui, 20 de ago de 2015 1:54 PM, Mauricio de Abreu Antunes <
notifications@github.com> escreveu:

[2015-08-20 17:39] tarsisazevedo commented on #90
I agreed with @luanfonceca, this page just show talks. Votes are to event's owner.

[2015-08-26 22:20] #41 closed

[2015-08-28 03:59] luanfonceca opened #98 "User account page"
Just a simple page with a form, containing: `name` e `biography` (Something like https://speakerdeck.com/account), is far than good, compared with what we have now,

[2015-09-03 18:39] luanfonceca commented on #90
Done in the #99 PR.

[2015-09-03 18:39] #90 closed

[2015-09-10 18:59] luanfonceca commented on #33
Closing this according the PR #86

[2015-09-10 18:59] #33 closed

[2015-09-16 17:26] hugohomesquita commented on #35
I believe you forgot to close the issue.

[2015-09-16 17:30] luanfonceca commented on #35
Hi @hugohomesquita, actually we use some images as the icon, they are not "responsive", so in smaller resolutions they become pixelated, that should be nice if we have some sprite in svg or something like it.

[2015-09-18 22:28] luanfonceca opened #100 "Changing the order must to save the grade"
Actually when we change the order of the talks we need to Submit the form again, that should be nice to use the API and save it using ajax.

[2015-09-18 23:05] luanfonceca opened #101 "Changing the order must to save the grade"
Actually when we change the order of the talks we need to Submit the form again, that should be nice to use the API and save it using ajax.

There is a possible problem in here, when we approve a talk, we are dragging it, so in this case that should be nice to decide what will be the behaviour.

[2015-09-18 23:17] luanfonceca opened #102 "Increase the left navbar width"
![screen shot 2015-09-18 at 8 16 49 pm](https://cloud.githubusercontent.com/assets/1490875/9972994/3e544b0e-5e42-11e5-8011-1909d1dda453.png)

[2015-09-19 17:29] #34 closed

[2015-09-19 17:42] luanfonceca opened #103 "Add Jury feature in the Site"
We need to take a print of the Jury page: http://127.0.0.1:8000/events/rupy-natal/jury/, we need to create some simple text to explain it.

[2015-09-19 17:52] luanfonceca opened #104 "Add Export Event feature in the Site"
We need to take a print of the Export Event button: http://127.0.0.1:8000/events/rupy-natal/, we need to create some simple text to explain it.

| ID | Title | Author | Author E-Mail | Vote Rate | Votes Count |
| --- | --- | --- | --- | --- | --- |
| 3 | Django Vanilla Views | admin | admin@speakerfight.com |  | 0 |
| 2 | Flask is Fun | admin | admin@speakerfight.com |  | 0 |
| 1 | Generating code

[2015-09-19 17:54] luanfonceca opened #105 "Add Grade to Site"
Today we have just the Wiki of the Grade Page: https://github.com/luanfonceca/speakerfight/wiki/Grade-of-Talks

That should be nice if we put this on the Site.

[2015-09-19 17:58] luanfonceca opened #106 "Delete confirmation when Removing Activities"
Today, when we click on the Remove button of the activities, they are just deleted, that should be nice if we ask the user to confirm it, just using a Alert or something like it.

[2015-09-19 18:00] luanfonceca opened #107 "Amount of active users, events and proposals on the Site"
Just a full width block with a text, something like:

`Right now we have 22 events, 367 proposals and 15337 users at Speakerfight.`

Thats good to show the people that there is a lot of people using it.

[2015-09-19 18:08] luanfonceca opened #108 "Change Grade to Schedule"
Everywhere in the Speakerfight, Content, Class names, files... Because "Schedule" makes more sense than "Grade".

[2015-09-19 20:27] Vinihcampos commented on #102
Vou ficar com essa issue.

[2015-09-19 20:48] luanfonceca commented on #103
Hi folks, i will take it.

[2015-09-19 20:48] jeffersonmourak commented on #101
I'm Taking this issue.

[2015-09-19 20:49] eltonvs commented on #88
Hello there, I'll do it.

[2015-09-19 20:56] luanfonceca commented on #103
![screen shot 2015-09-19 at 5 55 32 pm](https://cloud.githubusercontent.com/assets/1490875/9978123/ce75cfc2-5ef7-11e5-96b1-bb14a447f8e8.png)

[2015-09-19 21:05] #103 closed

[2015-09-19 21:21] #88 closed

[2015-09-20 13:14] jonatasoliveira commented on #102
The pull request #112 should fix this issue.

[2015-09-20 13:19] #100 closed

[2015-09-20 13:20] jonatasoliveira commented on #100
Duplicated with #101

[2015-09-20 13:27] jonatasoliveira opened #113 "When the user creates a new activity it should be automatically sorted by start time"
The new activity is being placed at the top spot at the schedule, this should be fixed making the activity obey the order of the list by start time.

[2015-09-20 14:05] jonatasoliveira commented on #106
Anyone know how to extract and compile the messages of JS? I've already tried with `makemessages` but it only got the python messages.

[2015-09-23 21:52] #102 closed

[2015-09-23 21:55] #106 closed

[2015-09-25 21:24] #108 closed

[2015-10-04 03:15] landrade commented on #113
@jonatasoliveira I would like to contribute with this issue.

The "Update timetable" action should have the same behaviour?

[2015-10-04 15:39] luanfonceca commented on #113
Hi @landrade, thanks for the interest.

There are some places that we can have trouble with this feature, for now we use the Track Order to ordering talks in the schedule, but now we will add another information, so we have a conflict on choosing which is more important for us, i think that the Timetable is more important.

1. When the user updates some talk in the schedule, after the `success` ca

[2015-10-05 18:07] luanfonceca opened #115 "Translate Event jury text in site"
Right now the "Event Jury" feature text is not tanslated to portuguese.

![screen shot 2015-10-05 at 3 05 43 pm](https://cloud.githubusercontent.com/assets/1490875/10289041/b362f624-6b72-11e5-9b7c-3cc64916a30f.png)

[2015-10-05 19:35] luanfonceca commented on #107
I will take that.

[2015-10-05 19:37] luanfonceca commented on #107
![screen shot 2015-10-05 at 4 37 33 pm](https://cloud.githubusercontent.com/assets/1490875/10291284/63b3ee82-6b7f-11e5-84e9-7f905a9403c0.png)

[2015-10-05 19:40] luanfonceca commented on #107
PR: #116

[2015-10-05 19:40] #107 closed

[2015-10-16 00:30] julioeiras commented on #115
I take this one ;)

[2015-10-16 02:15] luanfonceca commented on #115
Thanks @julioeiras, in fact the message is wrong too haha
I think something like: "The event jury restricts the vote to a group of users. Anyone outside of that group will just see the proposals and they cannot vote."

Can you change the text and translate it?

o/

[2015-10-16 02:26] julioeiras commented on #115
Sure I can! I couldn't  find how to change the language, any tips?

[2015-10-16 02:35] luanfonceca commented on #115
You can add `LANGUAGE_CODE = 'pt_BR'` on your `local_settings.py` file.

There isn`t a feature to change the language in the plataform, yet. There is a open issue for that #9.

[2015-10-16 02:41] julioeiras commented on #115
Oh, ok, I just wanted to check if there was a way other then in the settings. Thanks!

[2015-10-17 15:57] humrochagf commented on #66
to use python-decouple i suggest use [dj-database-url](https://github.com/kennethreitz/dj-database-url) to use a single variable on .env file

[2015-10-17 17:19] luanfonceca commented on #115
Thanks for that @julioeiras, as you can see it is merged and deployed.

http://speakerfight.com/
![screen shot 2015-10-17 at 2 18 57 pm](https://cloud.githubusercontent.com/assets/1490875/10560218/1a5e6bfe-74da-11e5-9dc8-5550df920fa5.png)

[2015-10-17 17:19] #115 closed

[2015-10-19 17:20] julioeiras commented on #115
Thanks a lot! :D

Julio Cesar Eiras Melanda
-------------------------------------------------------------------------------------
Universidade Federal de São Paulo
Mestrando em Ciência da Computação

Universidade Federal de Itajubá
Bacharel em Ciência da Computação
-------------------------------------------------------------------------------------
Skype: jcemelanda
cel/whatsapp: (012) 99150-7808

[2015-10-20 18:22] luanfonceca commented on #101
@jeffersonmourak in fact, you want a api for change a `Activity`? if you want that, there is a one: `http://localhost:8000/api/events/<event_slug>/activities/<activity_slug>/`.

If you access this page you will see the html version of the django-rest-framework api.
You need to add the fields that you want to change, today we allow just these fields:

![screen shot 2015-10-20 at 3 20 36 pm](https:/

[2015-10-22 20:49] luanfonceca commented on #98
I am doing this one:

![screen shot 2015-10-22 at 5 48 34 pm](https://cloud.githubusercontent.com/assets/1490875/10677853/2fcef0d0-78e5-11e5-94bb-330b40019f32.png)

[2015-10-23 13:02] diegotoral opened #120 "Untranslated strings on landing page"
Just found some untranslated strings on landing page (home page).

<img width="698" alt="screen shot 2015-10-23 at 9 59 09 am" src="https://cloud.githubusercontent.com/assets/624418/10693154/efcd5b92-796c-11e5-85f7-11221c214409.png">

[2015-10-26 23:41] #120 closed

[2015-10-28 18:35] luanfonceca opened #123 "Add PEP8 to #coding-rules in CONTRIBUTING.md"
We need to tell people to use the PEP8 standards for coding, like the max length of chars in a line. Two spaces after classes, one after functions... all that kind of things.

This is highly needed for non-python programmers, because we have a strong culture in code quality.

https://github.com/luanfonceca/speakerfight/blob/master/CONTRIBUTING.md#coding-rules

[2015-11-18 18:48] luanfonceca opened #124 "See my events"
There should be nice for us to have a menu option, to show a list of events that i am the author. Like we have in "My proposals". With the same layout of the Events page.

[2015-11-18 19:33] gtsalles commented on #124
Hey @luanfonceca I think I can do this :)
I'll talk to you on gitter when I'll do it ok?

[2015-11-18 19:48] luanfonceca commented on #124
Can you get another one @gtsalles, this issue will be used for a software maintenance course in my university by @hugoandregg :(

[2015-11-18 19:58] gtsalles commented on #124
Sure, no problem :)

[2015-11-20 22:40] luanfonceca opened #126 "Explain the voting criteria"
For people who are migrating from callforpaperz, our process is a bit confusing, that should be nice if we create a simple doc explain how this works.

[2015-11-24 03:31] luanfonceca opened #127 "Add 'more information' textarea field in the Proposals"
This field is aimed to allow us to have more information in the proposals, like Audience level, Duration, Doubts, Categories... Anything. This field is showed just to the event author, anyone else can see it (This should be explicit in the help text).

[2015-11-24 03:51] luanfonceca commented on #124
Closing this with the PR #125

[2015-11-24 03:51] #124 closed

[2016-01-07 05:03] luanfonceca opened #128 "Exclude the events with a due date of more than 4 months"
Today we show all the events in the http://speakerfight.com/events, that should be nice if we hide from this page the events with the due date in more than 4 months. The events will still exist but we will not be showed in the `/events/`.

[2016-01-07 13:36] jonatasoliveira commented on #128
@luanfonceca what do you think about only show events that will happen, in other words hide all the events that already have passed.

Maybe it's a good idea to have a page with all events and a nice call to action button to create a new event.

[2016-01-07 15:26] mauricioabreu commented on #128
I agree with @jonatasoliveira

/events is a good endpoint to show only upcoming events.
/events/most_recent or an endpoint with a query filter could be more appropriate to events that already happened.

[2016-01-08 16:55] #98 closed

[2016-01-13 01:31] mauricioabreu commented on #123
I think that is enough to link the pep8 documentation. Duplicating information is not a good thing in this case because the Python documentation is clear and concise.
What is your opinion?

[2016-01-14 00:27] mauricioabreu opened #129 "Upgrade to Django 1.9"
Django 1.9 was released (couple of months ago I think) and it would be good to support it.
I am already doing this here https://github.com/mauricioabreu/speakerfight/tree/upgrade-django-version

[2016-01-14 00:57] mauricioabreu commented on #129
Some libraries to be aware of necessary changes in order to support Django 1.9 here:

django-queryset-csv:
https://github.com/azavea/django-queryset-csv/issues/78
https://github.com/azavea/django-queryset-csv/pull/82

django-activelink:
https://github.com/j4mie/django-activelink/issues/4

[2016-01-14 06:42] luanfonceca opened #130 "Create Organizations"
When i see an event created by @erichideki, at the end of the description he always adds some information and links about the Grupy-sp and Python Brasil, like:

http://speakerfight.com/events/aprendendo-python-janeiro-2016/

[code]
That should be in an "Organization", with Eric as a `member`.

The following mock is to help the development of this issue. This issue is just about the creation proces

[2016-01-14 11:50] mauricioabreu commented on #129
I made some code yesterday to Django 1.9 for activelink but it is not too easy.
The project itself has the test suite running on Django 1.3

[2016-01-15 01:32] mauricioabreu commented on #129
Here is my pull request for django-activelink: https://github.com/j4mie/django-activelink/pull/6

[2016-01-15 22:21] luanfonceca commented on #128
I agree with you @jonatasoliveira, but we can keep the `/events` with the upcoming and create a `/past_events` to show the others.

What about that?!

[2016-01-15 22:22] #127 closed

[2016-01-15 22:22] mauricioabreu commented on #128
@luanfonceca yeah, much better than mine option hahahaha I suck at naming things.

[2016-01-15 22:25] luanfonceca commented on #123
I dont know, i think really annoying a python code that doesn't follow at least the PEP8, like wrong spaces, new lines, naming classes... And if we had a *coding rules* we can argue with the people with more sure and we can show examples from the `CONTRIBUTING.MD` itself

[2016-01-15 22:31] mauricioabreu commented on #123
I know. It annoys me too but I don't think we need to show examples. PEP8 is a good and comprehensive document. We can do less work by just linking PEP8 document and telling users to install flake8 and run it before creating a pull request. Anyways, I am ok about showing some examples.

[2016-01-15 22:41] luanfonceca commented on #85
This is not necessary anymore, as we can create "Organizations" and add people in there, as the issue #130 suggests.

[2016-01-15 22:41] #85 closed

[2016-01-15 22:41] luanfonceca commented on #29
The PR #131 is totally related with this issue.

[2016-01-16 13:16] #29 closed

[2016-01-17 17:42] tarsisazevedo commented on #81
I think we can have a `coauthors` field in proposal model, and it receives an email and check if user exists. What do you think?

[2016-01-18 00:37] deboraazevedo commented on #126
Is it really necessary? You have all the explanation about the voting in the "about" page. Do you want to have this explanation in English?

[2016-01-18 06:19] luanfonceca commented on #126
We dont need this anymore, i will close it o/

All the Speakerfight é written in english and the language is set to `pt_BR` in the server because we dont closed the issue #9 yet.

[2016-01-18 06:19] #126 closed

[2016-04-26 21:40] vmesel opened #136 "Speaker Fight 19x uma palestra"
Como se pode ver neste evento, o speaker fight duplicou as palestras do Régis!

http://speakerfight.com/events/encontro-de-abril-tudo-junto-e-misturado/

[2016-04-26 22:20] luanfonceca commented on #136
Fala @vmesel, não é nem que ele tenha duplicado é que ta dando um problema no smtp e ele "trava" a plataforma depois de submeter (na hora de enviar o email notificando o autor do evento, jurí e o próprio participante).

Passei a tarde inteiro tentando corrigir isso mas não rolou, então vou desabilitar as notificações por email e tudo vai funcionar.

Valeu por notar o comportamento o/

[2016-04-26 22:29] vmesel commented on #136
Muito obrigado @luanfonceca se você poder remover as duplicatas da palestra também eu agradeço!

[2016-04-26 22:30] luanfonceca commented on #136
Removi já o/

[2016-04-28 04:44] luanfonceca commented on #136
Tudo resolvido, já ta mandando email

o/

[2016-04-28 04:44] #136 closed

[2016-04-30 23:20] vmesel opened #137 "Improvements for Speaker Fight"
Guys, what you think that should be improved in speaker fight, so I could work on? I want to be useful as any developer wants to!

[2016-05-03 17:52] luanfonceca commented on #137
Hey @vmesel, here in the speakerfight we have a lots of awesome things to do, tell me what do you like most, something like, frontend, backend, create features, fix bugs, review code, tests?

And you can always do whatever you want to do in order to make the speakerfight better :D

[2016-05-07 02:39] #137 closed

[2016-05-10 13:47] wagnerluis1982 opened #138 "Allow to change the vote"
Once I vote on a speech I can't change my vote. If I vote by mistake, for instance, this makes a problem.

So, I think the user should be allowed to change his/her vote.

[2016-05-10 14:26] luanfonceca commented on #138
Hey @wagnerluis1982

Thats a dupe from the issue #91, if you want to help us to make a better project and fix that we will be really happy \o/

I am closing this one, i recommend you to join the conversation on the other issue :D

[2016-05-10 14:26] #138 closed

[2016-05-10 14:30] wagnerluis1982 commented on #138
Oh sorry, I did a brief search before I opened this one but I didn't note that.

For sure I'm going to join it.

[2016-05-10 14:31] wagnerluis1982 commented on #91
This issue is already assigned to someone?

[2016-05-10 14:35] mauricioabreu commented on #91
@wagnerluis1982 nope

I can help you to make it happen since I have a good knowledge of the codebase. :)

[2016-05-10 14:58] wagnerluis1982 commented on #91
@mauricioabreu
I, on contrary, don't know anything about the codebase.

I will give a try. Where I need to touch to make this happens?

[2016-05-10 23:36] renatooliveira opened #139 "Allow events to choose speakers anonymously"
Would be awesome to have the possibility of choosing the speakers of your conference anonymously.

Thinking here, would be a choice field, and then when the organizers are choosing they can choose without any bias (i.e known speakers)

Also, I'm willing to do this feature

[2016-06-13 17:19] fjsj commented on #139
+1
this was suggested at PyNE 2016 by @berinhard too.

what do you think @luanfonceca?
I can help to implement this too!

[2016-06-14 03:37] berinhard commented on #139
@fjsj I'm thinking about start a branch for this issue by this week. If I do so, I'll notify you here if you want to help.

[2016-06-14 13:47] wagnerluis1982 opened #140 "Collapse big proposal descriptions"
It would be good if the proposal descriptions were collapsed to reduce the scroll over the registered proposals.

A good baseline would be to collapse if description has more than two paragraphs.

[2016-06-14 13:54] mauricioabreu commented on #139
@renatooliveira I did not follow you here.

What does mean "choose speakers anonymously"? Does the app show which organizer choose the speakers?

[2016-06-14 14:18] berinhard commented on #139
@mauricioabreu nowadays with Speakerfight, the talks of an event are always show with the picture and the name of the speaker. This information could lead the voters to measure their vote based on *who* will talk and not on *what* will be talked. What @renatooliveira is suggesting is to add a feature were the owner of the event can say that, for his/her event, the speaker info shouldn't appear, on

[2016-06-14 14:32] mauricioabreu commented on #139
@berinhard Thanks for the explanation.
Even half agreeing with this, I can do it too.

Anyways, the owner of the project seems to be busy.

[2016-06-16 04:17] nielsonsantana opened #142 "Feature: Search for an event"
Allow the user search for a specify event.

[2016-06-18 02:33] nielsonsantana commented on #66
+1 for python-decouple

[2016-06-18 02:34] nielsonsantana opened #143 "[Bug?] - Recent events as PythonBrasil[12] don't appear on list"
Só vi eventos listados até o mês de abril de 2016,
por outro lado o evento da PythonBrasil12(publicado no dia 9 de Junho de 2016) não foi listado.
Talvez tenha a ver com a não remoção dos eventos passados.

[2016-06-18 03:09] mauricioabreu commented on #143
Mas eu achei aqui sim: http://speakerfight.com/events/

Porém a ordem pode confundir. Tô com um pouco de preguiça pra olhar a ordem no fonte, mas eu creio que não está por data de criação. :)

[2016-06-18 11:03] nielsonsantana commented on #143
Oi @mauricioabreu.
O que você encontrou foi esse:
[PythonBrasil[11] - Tutoriais - Criado por R Nuccitelli em 26 de Agosto de 2015 às 15:08]
(http://speakerfight.com/events/pythonbrasil11-tutoriais/)

O que estou falando é esse:
[Python Brasil[12] - Apresentações - Criado por Eventos Python em 9 de Junho de 2016 às 00:18.]
(http://speakerfight.com/events/python-brasil12-apresentacoes)

[2016-06-18 12:31] mauricioabreu commented on #143
Não, o que eu vi foi o http://speakerfight.com/events/python-brasil12-apresentacoes/ mesmo
Entra em events e usa a busca do seu navegador. :)

[2016-06-18 15:34] nielsonsantana commented on #143
É, Python Brasil[12] está na listagem. Pesquisei por "pythonbrasil" junto por isso que só mostrava a edição 11. Certamente a ordenação por data poderia ajudar bastante. Não faz sentido eventos antigos estarem no topo, a menos que a ordenação esteja sendo pelo nome.

[2016-06-18 15:34] #143 closed

[2016-06-20 00:32] julianaklulo opened #144 "Server Internal Error when acessing an event to which I send a proposal"
I send a proposal to the event Python Brasil[12] - Apresentações, but when I'm logged in I can't access the event page. If I access the page without being logged, everything is normal, but when I log in to vote I get 'Server Internal Error' page. I tried in several browsers, and the error appears everywhere.

[2016-06-20 20:10] mauricioabreu commented on #144
We are sorry for this. :(
I will investigate this problem. Ping me if you need more help.

[2016-06-29 12:39] darknessHO opened #145 "Horizontal scrollbar appears in some pages"
There's a scrollbar in the horizontal appearing in some pages like:
http://speakerfight.com/
http://speakerfight.com/about/

[2016-07-25 03:37] fbidu opened #148 "Make the deadline more visible"
I just missed a deadline because, despite having browsed the event's page more then 10 times and even voted for the proposals, I just didn't see the deadline!

Just today, when the deadline was due, I saw where it was. I don't know if it affects more people or if it is just the case that I need a new pair of glasses haahah. Be that as it may, I think it won't harm to make the deadline more visible

[2016-08-17 22:12] vmesel commented on #32
Isn't it easily made by just adding an iframe to the event page? Or we could do an API and the user in his system handles the requests.

[2016-08-18 22:21] vmesel commented on #123
@luanfonceca you should make the user test the code first during the Pull Request, so we could get an accurate fix!

[2016-08-30 14:36] darknessHO commented on #91
@wagnerluis1982 Do you still want to do it?.

[2016-08-30 14:48] wagnerluis1982 commented on #91
Yes, but I can't do it soon. Feel free to assign to yourself.

[2016-09-03 13:38] joseluizcoe opened #149 "Allow user to use "Social login" AND "default login" to access one account"
My account was created using "default login" (normal form). Today i tried to login using "social login" and "speakerfight" says:
"Você já tem uma conta, mas escolheu o provedor errado para acessar desta vez. Clique aqui para ser redirecionado para a página correta."

As user, is not good to know that i'm wrong when i'm trying to do something that i think to be right.

In my opinion, if Speakerfigh

[2016-09-05 03:51] joseluizcoe opened #150 "Convert css to sass to be more productive"
Why we need this?
Let's see one example: The file "flat-icons.css" is about vote area icons. This file provide icons in svg format, but only one size. Everytime i change the size of svg background, all position/configuration must to be changed too. I'd like to use the same icons on small, medium and large size without copy/paste code. I think issue #35 is not similar because talk about resolve onl

[2016-09-05 03:54] joseluizcoe commented on #35
I think this issue will be closed when you guys start to use some css preprocessor. I created #150 to propose this change.

[2016-09-05 20:25] vmesel commented on #150
The icons should be improved or the SASS should be done! The issue title and description are totally different subjects.

[2016-09-05 20:25] vmesel commented on #148
It will be done! Probably using CSS styling and other things!

[2016-09-05 20:31] vmesel opened #151 "An issue to see the importance of other issues"
As @luanfonceca is now with less time available for this project, the community will help him to maintain the project working. We need to set some priorities so we could work on more precise and more useful things first.
- CSS things should be less important?
- Should we create custom labels as on googlefonts/fontbakery?
- Finding a sponsor for the project will help?

[2016-09-05 20:36] mauricioabreu commented on #151
It is an open source project and a product/service. Everything is important.
Of course some issues are more important than others (like bugs) but it is not related to the technology.

What we need here is people with permission to push to the project (collaborators). I have a good knowledge of the project and codebase, but stopped to contribute because pull requests were not being handled for the

[2016-09-05 20:36] vmesel commented on #123
I think PEP8 coding rules should be followed, except for the char limit on a line! We do not have old computers that can't support more than 70 chars in a line(if you do have, ask for a new one in christmas).

[2016-09-05 20:37] vmesel commented on #9
I think this issue is already solved, right @luanfonceca ?

[2016-09-05 20:40] mauricioabreu commented on #123
It is not about computer screen size. It is about readability. :)
And it is not 70 characters, it is 79.

[2016-09-05 20:41] vmesel commented on #151
@mauricioabreu I know that every issue is important, but we should establish a priority to them, so we can work on the more critical ones! Another thing, why don't you start a fork on the projects base so we can work on the changes and get everything done without needing to return them to the main repo?

Obviously it is going to create to separate projects, but it's like giving continuity for a pr

[2016-09-05 20:44] mauricioabreu commented on #151
Because forks are made for two reasons:
* Maintainers decided to leave the project
* For private reasons like bugfix
Not the case here. It is a product and has a name outside (http://speakerfight.com/)

As a contributor that believes on this main repository, no, I will not fork it.

[2016-09-05 20:47] vmesel commented on #123
@mauricioabreu is there anyway to get in touch with you? need to talk things about speaker fight! we could create a whatsapp/telegram group for the developers!

[2016-09-05 20:49] mauricioabreu commented on #123
SpeakerFight has a gitter room. Let's talk about the project there. It is easier. :)

[2016-09-05 22:40] luanfonceca commented on #9
Nope, we should have something in the User dropdown to change his language.

[2016-09-06 03:14] joseluizcoe commented on #150
Hi, @vmesel. This issue is about convert css to sass (see the title). If convert css to sass, problems like #35 could be resolved fast. The description about icons it's just one example.

[2016-09-07 13:15] joseluizcoe opened #152 "Change e-mail sender from "Noreply" to "Speakerfight - Noreply" (or similar)"
I forgot my password and ask to speakerfight for a new one. When i received email, gmail show me the sender name as "noreply". I think the name could something like "Speakerfight (noreply)" just to be easy to find. See examples bellow:

# Gmail
![captura de tela 2016-09-07 as 10 10 49](https://cloud.githubusercontent.com/assets/32010/18313118/72eae6da-74e3-11e6-94b5-6558878d964b.png)

# Inbox
![ca

[2016-09-08 00:56] mauricioabreu commented on #152
Thanks for opening the issue.

[2016-09-08 00:58] mauricioabreu commented on #152
Pull request #153 addresses this problem.

Thank you!

[2016-09-08 18:10] luanfonceca commented on #149
In the Django allauth package, there are a sort of configuration for doing this.
We can do this by syncing social accounts or when the user tries to log in we look for his alternative account with that same email.

[2016-09-08 18:11] luanfonceca commented on #148
@fbidu in that cases a good thing to do is to talk with the organizer of the event, in some cases they will let you submit a propose anyway.

But we should think in a better way to expose this dates.

[2016-09-08 18:12] luanfonceca commented on #145
I am closing it, your contribution was already merged and deployed o/

[2016-09-08 18:12] #145 closed

[2016-09-08 18:13] luanfonceca commented on #140
This is a nice and simple issue to be fixed who will impacto in a good way in all events, do you have interest on doing this? I can follow you through the steps needed to doit, if you want.

o/

[2016-09-08 21:58] vmesel opened #154 "Voting system should be simplified and should show some some statistics"
Hey guys,
As I'm an event organizer, I would like to see what people think about the talks that were submitted in speaker fight. The voting system nowadays is very simple and does not show how is a speak feedback.

A suggestion would be to shrink it to 3 different options like (Great - Regular - Didn't Like it) so people can express better their opinions.

Another thing that we could do to help or

[2016-09-09 13:26] mauricioabreu opened #156 "Fix deployment script"
@luanfonceca told me that the current deploy script is not working as expected.
In order to have a functional continuous integration/continuous delivery, we need to fix it.

[2016-09-10 14:07] fbidu commented on #148
Yeah I tried that... Unfortunately, the proposals where already voted when I noticed. It was about Python Brasil 2016, I ended up submitting my talk as a workshop and got approved :smile:

[2016-09-10 18:30] wagnerluis1982 commented on #140
Well, it's a longtime since I wrote something for a webapp code, but I think I can handle this.

What frameworks are used for CSS and JS? According to what I saw in the source, it's bootstrap and jquery (because bootstrap), that's correct?

[2016-09-10 19:48] mauricioabreu commented on #69
It is still hard to see if something went wrong.
I suggest to add a message telling the user what went wrong.

[2016-09-10 20:55] luanfonceca commented on #140
Yep, Bootstrap, jquery and a bootstrap based theme.

[2016-09-11 21:17] vmesel commented on #144
Is this issue solved?

[2016-09-11 22:11] mauricioabreu commented on #144
@vmesel I don't know. But we have a huge problem here: Speakerfight lacks of a simple alarm system.
We don't know what happened because it is inside a log, a big text file.

We could use something like Sentry to intercept and log tracebacks.

[2016-09-11 22:14] vmesel commented on #144
@mauricioabreu can you join me on gitter so we can try to solve this problem? We will need to contact @julianaklulo to see what she was doing that made this problem appear.

What Sentry does?

[2016-09-11 22:18] mauricioabreu commented on #144
@vmesel it monitors and log tracebacks. It is easier than asking users "what happened" or "reading a huge log file". :)

[2016-09-11 23:48] luanfonceca commented on #144
Hello folks, i will lot into that right now. o/

@mauricioabreu in fact we have a Sentry setup and it is working https://sentry.io/speakerfight/speakerfight/

But as i was busy for a while we have a lots of events not resolved in there.

[2016-09-12 03:34] mauricioabreu commented on #104
By "export" you mean CSV file, right?

[2016-09-12 12:41] wagnerluis1982 commented on #140
Ok, I'm going to check if I can make it. I'll keep you informed about progresses here!

[2016-09-15 04:30] AllanDaemon opened #158 "Allowing choosing user name on account creation"
I did sing in with Gmail provider. My name on gmail is `Allan Daemon`, and instead of taking the complete name, or asking-me my username, it just picked `Allan4`, and I found it terrible.

So, allowing user been able to change the user name, whether in the profile settings page, whether when the user creates a account, is  something very desirable.

One alternative is at least try to stay with som

[2016-09-16 20:00] luanfonceca commented on #158
There are a profile page, we should allow the speaker to change their usernane, names and email (i dont know if by doing this we broke the allauth).

[2016-09-16 20:04] luanfonceca commented on #154
Today we have three kinds of Voting systems:
1. Public Voting (Everyone can vote on any proposal once)
2. Jury Voting (Jus the Jury selected by the organizer can vote on proposals)
3. Anonymous Voting (In the proposal's list we hide all information about the speaker)

I would like to offer more alternatives, if someone wants to use this instead of the #1 i think it is nice to be done.

o/

[2016-09-16 21:16] luanfonceca commented on #152
I am closing this, as the pull request was already deployed.
o/

[2016-09-16 21:16] #152 closed

[2016-09-16 21:47] joseluizcoe commented on #152
I did one test using my account and the sender name still "noreply" :(

Try:
- Go to: http://speakerfight.com/accounts/password/reset/
- Type your email
- Go to your gmail and:

![captura de tela de 2016-09-16 18 46 02](https://cloud.githubusercontent.com/assets/32010/18602220/fec5ae86-7c3d-11e6-8269-41e0a3e92074.png)

[2016-09-16 23:18] mauricioabreu commented on #152
It is strange. Django docs say it is the right way to do this.

[2016-09-20 01:30] #139 closed

[2016-09-20 01:44] renatooliveira commented on #128
We discussed and maybe hide, not exclude,  the events would be better. Speakerfight wants to solve talks for events, and wants to take records. So I'm closing this issue to create new ones

- Only shows active events (Hide events after call for papers is closed).
- Create an area of past events

[2016-09-20 01:44] #128 closed

[2016-09-20 01:55] renatooliveira opened #160 "Improve I18n"

[2016-09-20 02:02] renatooliveira opened #161 "Add feedback area"

[2016-09-20 07:40] luanfonceca opened #162 "Explain what is the "Anonymous Voting" on the Event form"
Today we have a voting style called Anonymous Voting, where we hide the proposal`s author informations.

But we should add a simple help text on the event form explaining how it woks.

[2016-09-20 07:43] luanfonceca opened #163 "Add share button on proposals"
We have to scenarios for this issue:

1. After i submit my proposal is should be nice to popup a modal trying to make the author to share their proposal for the people to vote on it.
2. In the proposal action block (where we have the Update button) there is nice to have a button "Share" to open the same popup.

It is nice to use the same widget that we use today, just for be simple.

[2016-09-20 07:44] luanfonceca commented on #160
This is happen mailing in the Breadcrumb, i think that is just in there. But it is nice for someone look around.

[2016-09-20 11:57] luanfonceca commented on #161
The feedback area is a form to allow people get in touch with us easily. We already have the Gitter.im but it is too much centred on devs. Sometimes the users doesn't have a github account.

[2016-09-24 22:52] vmesel commented on #128
@renatooliveira It should be better if we have another link to show the past event info and, maybe, make a survey for getting the user's satisfaction!

[2016-09-27 00:25] luanfonceca commented on #150
I am closing this issue. For now our stylecheet has less than 200 lines and our theme is based on a free bootstrap theme who doesnt offer a sass version.

For us to implement this in the deploy fabric and will add a bigger learning curve for people to contribute with Speakerfight.

If someday we think on a full redesign of our platform we probably should use some css compressor.

o/

[2016-09-27 00:25] #150 closed

[2016-09-27 16:52] luanfonceca opened #165 "Enable SSL"
In order for us to allow people to include the Schedule and in the future create a inline embedded proposal form we need to have SSL for sites who already runs on https to include our iframes.

[2016-09-29 22:12] vmesel commented on #165
Why we dont use let's encrypt certificate?

[2016-09-29 22:12] luanfonceca commented on #165
We should use Let's encrypt or Cloudflare.

[2016-10-08 04:59] wagnerluis1982 commented on #140
After a while I had some time to work at this issue :smile:

I digged up the web for solutions to this subject but all I found uses some technique of rewrite the HTML to collapse/expand the text.

So I decided to write a code using the least JavaScript possible. I ended up in the following solution:

1. After page loads, I look at every `.proposal-description` and check if its height is greater th

[2016-10-08 14:51] luanfonceca commented on #140
You should make a pull request instead of this patch, with a patch your
contribution will not be credited to you o/

Em sáb, 8 de out de 2016 01:59, Wagner Macedo <notifications@github.com>
escreveu:

[2016-10-08 16:58] wagnerluis1982 commented on #140
Oh, of course. I wanted to discuss here before I make the PR.

But you are right, I'll do it and move the discussion to there.

[2016-10-08 19:39] luanfonceca commented on #140
Thanks, we cab discuss and review it on the PR o/

Em sáb, 8 de out de 2016 13:58, Wagner Macedo <notifications@github.com>
escreveu:

[2016-10-10 23:50] #140 closed

[2016-10-12 11:46] vmesel commented on #165
@luanfonceca how is the issue going? There is a thing called certbot that installs automaticaly an SSL certificate on Apache2/Nginx/whatever!

[2016-10-12 11:50] vmesel opened #167 "Collapse long proposal design error"
Hey folks,

I know that you have implemented the new design for the proposal, allowing big proposals to stay short. The problem is that it's not clear when the proposal is shortened or not, so I suggest you to do some signaling or anything like that letting the user know when the proposal he is reading is collapsed.

[2016-10-12 11:51] vmesel commented on #167
Also, it should be nice if the user can collapse the big proposal again, so he keeps his page clean and steady!

[2016-10-12 15:07] luanfonceca commented on #167
We can improve things forever, at least it is working, for me we have better issues to give our attention.

o/

[2016-10-12 15:08] luanfonceca commented on #165
Anyone get this issue yet, did you already used it? If you do and want to fix this i can give you access to the server and other stuffs.

[2016-10-12 19:22] wagnerluis1982 commented on #160
Sorry, but I didn't get. What tasks is involved in this issue?

[2016-10-12 19:35] wagnerluis1982 commented on #91
Hi, anyone is working on this? If not, I will start to work.

But I have some questions:

1. What models are involved when someone votes?
2. Is it needed to keep log of previous vote options for a proposal?
3. There will be an expire time to change vote?

[2016-10-13 14:31] wagnerluis1982 commented on #167
Hey, as it was me who designed the collapse proposal, I'm interested in solve that.

@vmesel, would be good to you after the collapsed proposals a "Show more" link is displayed?

[2016-10-13 14:45] luanfonceca commented on #91
Hey @wagnerluis1982

1) I think just the Vote, in this models we have a `rate` field, you just need to change it.
2) Nope, just change
3) You can just use the same that is used in the `RateProposal` view.

For the UI i would something like:
All the rates are shown with a `opacity: 0.6`, when i choose one it is saved (as it is today using ajax) the rest of the rates will be affected by css rule `op

[2016-10-13 14:58] wagnerluis1982 commented on #91
@luanfonceca:

I understood. Now, get to work :smile:
And yes, the opacity should be 0.4 (or less).

[2016-10-14 13:39] wagnerluis1982 commented on #167
Hi, I'm thinking of something like this:

![image](https://cloud.githubusercontent.com/assets/428341/19389330/0321c15a-91fa-11e6-9aa9-47784fe3dfe1.png)

About a way to collapse again, I don't think is a good idea to have a "Hide text" link for each proposal, but some link or button in the top of page to collapse all.

[2016-10-14 14:16] luanfonceca commented on #167
Dont add the hide, just the show button, and align it on center.

Em sex, 14 de out de 2016 10:39, Wagner Macedo <notifications@github.com>
escreveu:

[2016-10-14 14:24] vmesel commented on #167
Why the user wont be able to retract the proposal he have read? This is nonsense man... If we have the show more button, we should have the opposite too!

[2016-10-14 14:34] luanfonceca commented on #167
Keep it simple, I can found tons of UX patterns for collapses and in the
most the close is irrelevant and nobody uses it

Em sex, 14 de out de 2016 11:24, Vinicius Mesel <notifications@github.com>
escreveu:

[2016-10-14 14:44] wagnerluis1982 commented on #167
@vmesel, retracting is normally complicated because when the text is hidden you get lost in the page.

To understand my point, go to Demo 8 on this page, http://www.aakashweb.com/demos/jquery-collapser/index.php#block-level, click "Show more", scroll down, click "Hide text" and see what happens: you don't go back to Demo 8 neither go to the next subject, that is Demo 9.

[2016-10-15 00:10] wagnerluis1982 commented on #167
Hi, I'm not really the frontend type, so I made a simple design to put the "Show more" link in the center.
It's highlighted along lines in the right and left to not mix with the content.

![image](https://cloud.githubusercontent.com/assets/428341/19405774/03c8fcf6-9252-11e6-9538-ea5ff0b1b771.png)

What do you think about?

[2016-10-15 01:12] luanfonceca commented on #167
If it's working on small resolutions it's perfect

Em sex, 14 de out de 2016 21:10, Wagner Macedo <notifications@github.com>
escreveu:

[2016-10-15 03:52] wagnerluis1982 commented on #167
I got another situation: the proposals are collapsed only if height is greater than 150px, but I'm collapsing to exactly 150px.

I think would be a good idea to increase the collapsing threshold to 200px (or a bit less), maintaining css height to 150px. Or use the threshold of 150px but collapsing to 100px.

[2016-10-18 12:19] phrfpeixoto opened #169 "Project fails to build build on macOS 10.12"
While trying to install requirements for this project, on macOS 10.12, the system fails to build uWSGI.

pip output:
[code]

[2016-10-18 12:21] luanfonceca commented on #169
You can just comment the line in the `requirements.txt` and run the django with the built in server: `python manage.py runserver`

[2016-10-18 12:24] phrfpeixoto commented on #169
It seems the problem is solved on uWSGI 2.0.11.2

[2016-10-18 12:36] samuelgrigolato opened #170 "Requirements fail to install on Windows 10"
I tried to build speakerfight on WIndows 10 (python 2.7.12), without success.

The error seems to be the same as reported here: [https://github.com/unbit/uwsgi/issues/547](url)

`uwsgi_os = os.uname()[0]`

[2016-10-18 12:47] victor-torres commented on #165
I’m working on this issue.

[2016-10-18 12:56] luanfonceca commented on #170
You can comment the uwsgi line in the requirements.txt and try to install again

[2016-10-18 13:26] kerollaine opened #172 "CSRF error when adding activity"
When I try to create a new activity, after filling the fields and pressing the 'Submit' button, the error 'CSRF Failed: CSRF cookie not set.' is displayed.

I tried to execute the same procedure on production environment (speakerfight.com) and got the same error.

Exact steps to reproduce:

1. Login into speakerfight
2. Click `New Event`
3. Fill the form and submit
4. Click `Create Schedule`
5. Cl

[2016-10-18 13:32] samuelgrigolato commented on #4
Is this implemented? I tried to remove an event on production site (speakerfight.com) but couldn't find a way to do that =S.

[2016-10-18 13:37] luanfonceca commented on #172
Can you tell me what OS and browser are you using?

o/

[2016-10-18 13:44] kerollaine commented on #172
I tried on the following setups:

* Debian 8 + Google Chrome 53.0.2785.143 (64-bit)
* Debian 8 + Firefox ESR 45.4.0
* Windows 10 + same google version (exact same build number)

[2016-10-18 13:44] victor-torres commented on #165
DONE

- installed certbot (`~/certbot/`)
- generated certificates with certbot (auth via standalone server)
- apt-get update has been fixed (missing keys)
- nginx have been updated to version 1.6.2 (`apt-get update && apt-get -t wheenzy-backports install`)
- default site configured to use ssl certificates

TODO

- renew the certificates via crontab
- replace hardcoded http links (we may probably c

[2016-10-18 13:55] victor-torres opened #173 "Remove hardlinks that start with http"
SSL is now configured and we have to offer support for https links and resources.

[2016-10-18 14:08] samuelgrigolato commented on #170
It worked!

What did I lose for not being able to install uWSGI?

Anyway, I also needed to do a minor change to properly load the fixtures. `loaddata` wouldn't understand the forward slashes, breaking with an exception:

$ python manage.py loaddata deck/fixtures/user.json

The solution was simple, changing the forward to backslashes was enough:

$ python manage.py loaddata deck\fixtures\user.json

[2016-10-18 14:19] kerollaine commented on #161
I'd like to give this issue a shot.

An initial idea is to add a new menu item after the Profile option inside the top right dropdown menu. By the way, doing it that way will show the feedback option for logged users only, is that the desired behavior?

The form will have the following fields: subject, message and submit button. As the form appears only to logged users, I'm not considering to add

[2016-10-18 14:27] luanfonceca commented on #161
@kerollaine o/

[2016-10-18 17:21] phrfpeixoto opened #176 "pycparser version 2.15 causing compile error on package cryptography"
As observed in issues #171 #165 current builds are breaking on TravisCI due to a compile error on package cryptography.

It's related to a bug in pycparser version  2.15.

background:
https://github.com/Kitware/candela/pull/452
https://github.com/pyca/cryptography/issues/3187

Opened Pull-Request #177

[2016-10-18 19:05] hdiogenes commented on #156
What's broken exactly? Any ideas on how can we try to fix it?

[2016-10-18 20:00] luanfonceca commented on #176
Thanks @phrfpeixoto it was merged into master branch

o/

[2016-10-18 20:00] #176 closed

[2016-10-18 20:01] luanfonceca commented on #170
@samuelgrigolato we fixed this in the master branch, if you pull the new code in master i think it is all working.

o/

[2016-10-18 20:01] #170 closed

[2016-10-18 20:01] #169 closed

[2016-10-18 20:02] #165 closed

[2016-10-18 21:13] kerollaine commented on #161
See PR #178.

[2016-10-18 23:01] wagnerluis1982 commented on #167
Hi everybody.

The "Show more" design is done. What do you say of increasing the threshold which I said in the previous comment?

[2016-10-18 23:15] wagnerluis1982 opened #179 "Add more targets to Makefile and make it configurable"
I think the Makefile also needs to have the targets:
- `test`
- `coverage`

Also, in the case of using docker, the Makefile could use an environment variable `USE_DOCKER` to decide how the commands will be executed.

[2016-10-18 23:15] wagnerluis1982 commented on #179
I myself can handle this issue.

[2016-10-18 23:22] mauricioabreu commented on #156
@luanfonceca I am very busy at my job and studying and using my spare time to it. So I am removing myself from this issue.

@hdiogenes the private key/public key handshake is not working. We need to generate a private key (server) and add it to the Travis server.

[2016-10-20 21:39] meiralins commented on #172
After #182 , we realized that CSRFViewMiddleware is disabled.

This bug happens because DRF is not ignoring the CSRF token check.

Should we enable the CSRFViewMiddleware?

[2016-10-21 12:41] wagnerluis1982 commented on #91
Hey @luanfonceca

If I change the opacity from 0.6 to 0.4 on `.flat-icon` class, that means to change for all other flat-icons, (even that as I could see are still not be used), right?

[2016-10-22 16:05] phrfpeixoto commented on #142
I'm working on this.

[2016-10-22 20:46] wagnerluis1982 commented on #9
Currently, the language is globally defined on `settings.py`, right?

How about to also make this automatically, by reading the Accept header of request? The user settings would still be the first place to see, but if wasn't set, the request info would be considered.

[2016-10-22 21:03] mauricioabreu commented on #9
@wagnerluis1982 hmmm, it seems a bit complicated to solve the problem.
The feature does not payt the code and your efforts developing it. Also reading headers is not a good idea. Every browser does in its own way. What do you think?

[2016-10-22 21:44] wagnerluis1982 commented on #9
@mauricioabreu what exactly is complicated? The user-defined idiom is what this issue is for. So in the main view (read by all pages) we would have something like:

[code]

[2016-10-22 22:11] mauricioabreu commented on #9
@wagnerluis1982 parsing headers and trust them. I think that having the language avaible in the user settings is good enough. I am not against the idea but not sure if the efforts making this code will pay the feature.

[2016-10-23 18:37] wagnerluis1982 commented on #9
@mauricioabreu, I'm not really an expert in i18n, but I remembered that Django has a standard way to discover the language by request. And I found that is LocaleMiddleware.

The following link explains how this middleware works. According to what I read, it's only a matter of adding to `MIDDLEWARE_CLASSES` to work!

https://docs.djangoproject.com/en/1.7/topics/i18n/translation/#how-django-discover

[2016-10-23 18:51] mauricioabreu commented on #9
@wagnerluis1982  now we are talking :P

The middleware can make it work. Cool!

[2016-10-23 19:30] wagnerluis1982 commented on #9
@mauricioabreu great!

So, anyone working in this issue?  If not, I'm assigning myself.

[2016-10-23 20:00] mauricioabreu commented on #9
@wagnerluis1982 not that I remember.
You are the best person to workn on this issue so... go ahead! :-)

If you need anything don't forget to ask here.

[2016-10-24 10:28] phrfpeixoto commented on #142
#183

[2016-10-24 22:28] wagnerluis1982 commented on #160
Hi, again I ask: what this issue is for?

[2016-10-25 06:16] pratyushprakash commented on #173
Hi, can I take this up?

[2016-10-27 00:29] phrfpeixoto opened #184 "Update Bootstrap"
While working on Issue #142 I noticed that the current codebase uses Bootstrap v3.0.0, which is pretty old, and lack a lot of useful resources, such as helper classes.

It would be nice to update it to tip.

[2016-10-27 00:38] phrfpeixoto commented on #9
@wagnerluis1982 Are you working on this?

[2016-10-27 00:41] wagnerluis1982 commented on #9
@phrfpeixoto yes, man!

I'm still planning things, but I'll have some code soon!

[2016-10-27 00:50] phrfpeixoto commented on #9
I think that make this a setting in the user model is a bit like an overkill. You simply use session and cookie approaches builtin in django. You can also use browser's local storage.

[2016-10-27 01:15] phrfpeixoto commented on #184
Since there's not much work involved, I updated the files.

I gave an overall look and layout seems unchanged. Do you guys suggest a way to review this?

[2016-10-27 01:19] wagnerluis1982 commented on #9
Hmmm, we have to see what the others think!

In general I think you are right, but this hurts the user experience since the user needs to change the idiom every time he uses another computer or browser. Users that don't store cookies will not like it too.

Maybe there is a way to make this happens without performance problems.

[2016-10-27 01:46] wagnerluis1982 commented on #9
One suggestion.

1. We try to use the language information from the Session/Cookies
2. If not found we get the information from the database

To reduce the impact to performance, when the user changes the idiom, all his sessions, but the current one, will be closed. This makes that we don't have inconsistency of idioms among sessions.

Of course the user can set the idiom to be automatic, by the b

[2016-11-04 00:38] wagnerluis1982 commented on #9
Hi, in the #188 I added the `LocaleMiddleware` to get info from Accept-Language request header.

Although this middleware try to find the language info in the session, it doesn't write anything to the session so the next time this is done.

So I need to make a subclass of LocaleMiddleware to make that happens, where is the best place to put this class?

[2016-11-07 03:52] wagnerluis1982 commented on #9
Hi, to allow the user change his idiom I made the following design. Please, say what you think.

1\. The current idiom is showed next to user dropdown.

![image](https://cloud.githubusercontent.com/assets/428341/20045989/5541cdd0-a484-11e6-8f0f-75123c237aae.png)

2\. We can change the language by clicking in the current idiom dropdown.

![image](https://cloud.githubusercontent.com/assets/428341/20

[2016-11-08 01:00] macabeus opened #189 "Is there any API?"
I want create a app about events for iOS, and I wish make a integration with Speakerfight. Then, I need some APIs, like one to return the talks approved for a meetup.

Speakerfight have API? I can't found in documention.

[2016-11-09 04:48] luanfonceca commented on #189
Yes we do, but just for the event schedule for now: http://speakerfight.com/api/events/poticon-1a-conferencia-potiguar-de-software-livre/schedule/

You could easily implement the resources for the events and talks using django rest framework

[2016-11-10 16:13] abispo commented on #9
I agree with this approach.

[2016-11-21 20:23] vmesel opened #190 "Misalignment on 404 Page"
Hey guys, I don't know if this is an error that is appearing just on my computer, but if you try to reach an non existing page, this will happen:

![Teste](http://image.prntscr.com/image/8774abe7aa9f471a978fa5e34ff92d28.png)

What should be the solution?

[2016-11-22 21:21] luanfonceca opened #191 "Search for an past event"
@phrfpeixoto, i am trying to search for the Poticon, that was last weekend.

http://speakerfight.com/events/?search=poti

[2016-11-22 21:23] luanfonceca commented on #191
If i use the search in any other page than the Event List, it doesnt work

As you can see: http://recordit.co/pdNCVY4F3P

[2016-11-22 21:30] luanfonceca commented on #191
I think you broke the entire event list page haha
It is showing some old events, instead of the next ones

[2016-11-22 21:35] luanfonceca commented on #191
I reverted the code by hand for while, i cant fix it right now ;;

[2016-11-22 22:04] luanfonceca opened #192 "Allow users to create tracks"
Many of the our events have more than one day and more than only one track, we need to allow the users to add how many tracks they want.

[2016-12-13 03:27] pgrangeiro commented on #69
Hi guys! I've submitted PR #193 to fix this issue

[2016-12-14 02:58] pgrangeiro commented on #69
Hi guys! I've opened a new PR #194 following #193 recomendations.

[2016-12-17 08:52] #191 closed

[2016-12-17 08:54] luanfonceca opened #195 "Allow users to reset the Search"
Something like this, and when the user clicks it resets the search sending the users to the events list.

![screen shot 2016-12-17 at 5 54 38 am](https://cloud.githubusercontent.com/assets/1490875/21285642/1cf8d186-c41d-11e6-87d1-4b850ec2335a.png)

[2016-12-17 13:09] #195 closed

[2016-12-23 07:04] CoinBR opened #196 "DUPLICATE OF #172"
DUPLICATE OF #172

I'm really sorry about that

[2016-12-23 07:09] #196 closed

[2016-12-23 07:09] CoinBR commented on #196
DUPLICATE OF #172
Sorry

[2017-02-06 13:03] alessandrofeitoza opened #198 "Update Password"

[2017-02-22 05:39] arturfelipe opened #201 "Add the encrypted `deploy-key.enc` file to fix travis build"
I think you forgot to add your encrypted `deploy-key.enc` to the repository @luanfonceca. That's why we see the error in the `ci` build since you introduced the decrypt code [here](https://github.com/luanfonceca/speakerfight/commit/96db914eba7f19a557554887038a4c0d3d71cdee).

I found this in the documentation:

**super_secret.txt.enc** - In this case should be your `deploy-key.enc`
**super_secret.t

[2017-03-10 17:20] filipeximenes opened #202 "Group "My Proposals" by event"
Currently all proposals show in a list but it's not clear to which event the proposal was made. One solution is to have the event name next to the proposal title. But I think the best solution would be to group them by event and order by the event date.

[2017-03-16 16:54] fjsj opened #203 "User should be redirected to original page after sign in"
Ideally, user should be redirected to original page after sign in. This doesn't seem to be the current behavior.

Steps to reproduce:
1. Go to some event page, like http://speakerfight.com/events/python-sudeste-2017-palestras/
1. Click "Sign in"
1. Click Github
1. User is now on http://speakerfight.com/events/, not the event page

Tip: this can probably be implemented with HTTP_REFERER header.

[2017-03-21 10:58] Marlysson commented on #202
Hello , this is change just layout or need some implementation with django?

[2017-03-21 13:33] filipeximenes commented on #202
A little o both. It will require some logic to group talks and then the template logic to display it correctly.

[2017-03-24 02:53] victor-torres opened #204 "SSL certified has expired"
Despite the fact that certbot was configured to automatically renew the certificate via crontab in #165, the website’s certificate is being reported as invalid by browsers because it has expired (invalid date).

I have just tried to run the renew method manually and the following error appears:

[2017-03-24 02:56] victor-torres commented on #204
Nginx was running on ports 80 and 443 (obviously) but the renew script needs these ports to perform some remote validations. I changed the crontab:

- now we stop nginx before running the renew command and start it again after that
- now the renew command runs at midnight in day 1 of every month (it was running twice a day)

This time I have renewed the cert manually. Let’s see if the issue was co

[2017-03-24 02:56] #204 closed

[2017-03-24 02:57] victor-torres commented on #204
We can also configure the renew script to use a webroot and avoid the nginx restart.

[2017-04-16 18:38] vmesel opened #205 "Speakerfight is offline"
Hey @luanfonceca speakerfight is down!

[2017-05-01 20:00] diegofsousa opened #206 "Add pagination to event list"
Hey guys, what do you guys think of paging the list of events?
I did something. Can I make a "pull request" without compromise?

[2017-05-02 19:57] #206 closed

[2017-05-16 21:34] victor-torres opened #208 "Usernames cannot contain spaces nor special characters"
A specific account with space in her username was breaking the reverse search regex and pages like the Caipyra 2017 weren't loading properly. I logged into the server and replaced the space in the username by an underscore. We still have to validate the username before saving to the database.

[2017-05-22 15:25] avelino opened #209 "Filter by active event"
http://speakerfight.com/events/

[2017-06-21 00:38] #205 closed

[2017-06-26 14:21] Ryllari opened #210 "Set Profile Photo"
Currently, the user can not change their profile photo. Create a function so the user can set their profile photo.

[2017-07-21 15:03] #167 closed

[2017-07-22 02:24] biancarosa opened #211 "Remove past events from main even list and create "past events" section"

[2017-07-22 02:26] biancarosa opened #212 "Add login button on the header of the main page"
For a user that already knows the website, the process of clicking into a button to reach the login page makes the user lose a lot of time.

[2017-07-26 14:51] luanfonceca commented on #211
Hi @biancarosa, the PR #135 should fix that when its done.

o/

[2017-07-26 14:57] luanfonceca commented on #210
Hi @Ryllari, we use the Gravatar to get the picture, by using it we do not have to concern on storing the user pictures, which seemed to be easier for me to at least have photos haha

But if you want to make this feature i will help on every step of the process of coding and testing o/

[2017-07-26 14:59] luanfonceca commented on #208
Fixed on commit b59f21ee28cc8eaf56cbc49fd7926e243e92276f

[2017-07-26 14:59] #208 closed

[2017-08-11 21:30] luanfonceca commented on #212
Hi @biancarosa i am closing this issue, cause @alessandroHenrique just implemented a issue to add the Login button on the home page.

![screen shot 2017-08-11 at 18 27 41](https://user-images.githubusercontent.com/1490875/29232628-02b8727a-7ec3-11e7-90be-698ebe80f811.png)

[2017-08-11 21:30] #212 closed

[2017-08-14 17:13] luanfonceca commented on #201
I am closing this because i just implemented the CircleCI. So we doesn't have this issue anymore.

[2017-08-14 17:13] #201 closed

[2017-08-14 17:27] #142 closed

[2017-08-14 17:27] #144 closed

[2017-08-14 17:27] #156 closed

[2017-08-14 20:54] alessandroHenrique commented on #210
@luanfonceca I'm gonna take this issue.

[2017-08-15 23:43] apast opened #214 "Generate certificate and install HTTPS support for login page"
Generate SSL certificate using free tools like letsencrypt and install it on main server.

[2017-08-16 17:41] luanfonceca opened #215 "Remove Event"
Follows the same workflow used on the "Remove Proposal" action.

- Remove button on the `.event-actions` block
- Confirmation page
- Tests

[2017-08-24 20:21] luanfonceca commented on #214
I think that we already have one, but let us confirm that.

@victor-torres did you make that a long time ago in the speakerfightm, right?

[2017-08-24 20:29] apast commented on #214
It is installed!

But, can it is not redirecting automatically on login screen.

Can we setup this on server?

On Aug 24, 2017 17:21, "Luan Fonseca" <notifications@github.com> wrote:

[2017-08-24 20:34] luanfonceca opened #217 "Create a "Past Events" page"
This page will list all the past events, ordered by the most recent on top and with pagination.

[2017-08-24 20:35] luanfonceca opened #218 "Search results count bug"
For some reason the Total matching in that Search are not showing on the page.

![screen shot 2017-08-24 at 17 34 15](https://user-images.githubusercontent.com/1490875/29687367-8a7c27ea-88f2-11e7-9631-dbc5f9185426.png)

[2017-08-24 20:41] luanfonceca opened #219 "Allow users to change Language"
Add a option on the user Profile allowing him to change his Idiom.

[2017-08-24 20:42] luanfonceca commented on #91
This was done in the PR #186.

[2017-08-24 20:42] #91 closed

[2017-08-24 20:56] luanfonceca commented on #211
About the Past Events page #217 i created a issue for that.

You you want to contribute more please feel free to open and close our issues.

[2017-08-24 21:04] luanfonceca opened #220 "Show the users's track record in his Profile"
In user profile should be nice if we have his track record in Speakerfight.

This page should have:
- All the events he created
- All the Proposals (Highlight the approveds)

[2017-08-24 21:14] luanfonceca opened #221 "Create login by ajax"
Today the Login follows the traditional way, with normal requests and going to a login page.

By doing a Ajax/react/angular login within Speakerfight we should gain a lot in the UX, the users should be redirected to the right pages according to the issue #203. On the future we plain to have a Embedded Proposal e Voting features, so with the new login feature we will have zero problems on doing it.

[2017-08-24 21:16] luanfonceca opened #222 "Multiple speakers at the same Proposal"
It should be nice if we have Two speakers at the same proposal.

This reflects on the following pages:
- Models
- Event Detail page
- Scheduled embedded page

Maybe even more pages.

[2017-08-24 21:18] luanfonceca opened #223 "Implement Multiples Tracks on the Schedule"
Today in our backend we already have the `Tracks` implemented, but in the Frontend didint.

This is directly related with the Schedule page.

[2017-08-24 21:23] luanfonceca opened #224 "Redesign Site"
We are moving foward with the Speakerfight and the Site needs to go with them.
Our new Value Proposition is:

## The Easier way to choose the best talks.

[2017-08-24 21:28] luanfonceca opened #225 "Allow to edit Title and Description of a activity"
In the Schedule of Talks page, we can edit the Start and End Time of a Activity but not his Title. In the cases where the activity is a Proposal, its okay to not allow that. But when its not we should be able to change it.

[2017-08-24 21:30] luanfonceca opened #226 "Add button to remove proposals from Schedule"
When an activity is a proposal, it doesnt have a Delete button, but we can have a button that just take the proposal out of the Approved onees.

[2017-08-24 21:33] luanfonceca opened #227 "Create a hotsite for the Schedule"
Today we can embedded it into a full site just by using his iframe, it should be nice if we have a auto generated page for this event.

If the schedule was generated we can access this hotsite in the `/events/<event_sug>/schedule/`, but we also need to differentiate that call from the call that the iframe does, in order to not broke the embedded.

[2017-08-25 17:24] luanfonceca commented on #9
@wagnerluis1982 how is going that? Can you push some code to a PR?

[2017-08-28 18:37] victor-torres commented on #214
Yes, it's, @luanfonceca. You may rename the ticket to "Automatically redirect users from port 80 to 443 on nginx".

[2017-08-28 18:44] victor-torres commented on #214
And BTW, it's already done, @luanfonceca and @apast.

[2017-08-28 20:56] apast commented on #214
Thanks, @victor-torres! It working perfectly!!

[2017-08-28 20:56] #214 closed

[2017-08-29 20:53] #129 closed

[2017-08-29 20:53] luanfonceca commented on #129
I am closing this issue based on that we already upgraded to the Django tip on the PR #157

[2017-08-29 20:55] luanfonceca commented on #173
On the commit d9f8010941c40791460f86028799c11ec3f44171 i changed to https only.

[2017-08-29 20:55] #173 closed

[2017-08-29 20:56] luanfonceca commented on #209
We did it on the PR #135, so i am closing this issue.

[2017-08-29 20:56] #209 closed

[2017-08-29 20:57] luanfonceca commented on #189
I am closing this issue due to lack of feedbacks.

[2017-08-29 20:57] #189 closed

[2017-08-29 21:03] luanfonceca opened #233 "Exception Type: ProgrammingError at /events/<event_slug:slug>/create_schedule/ Exception Value: column "deck_proposal.is_approved" must appear in the GROUP BY clause or be used in an aggregate function"
Exception Type: ProgrammingError at /events/<event_slug:slug>/create_schedule/
Exception Value: column "deck_proposal.is_approved" must appear in the GROUP BY clause or be used in an aggregate function
LINE 1: ...y"."track_id", "deck_proposal"."activity_ptr_id", "deck_prop...

[2017-08-29 21:06] luanfonceca opened #234 "Add fixmydjango to speakerfight"
http://www.fixmydjango.com/

[2017-08-29 21:19] luanfonceca opened #235 "Failed to load resource: the server responded with a status of 403 (Forbidden)"
csrf_token problem on the Voting js

[2017-08-29 21:26] #235 closed

[2017-08-30 18:54] #233 closed

[2017-08-31 17:37] #220 closed

[2017-09-04 14:15] luanfonceca commented on #227
This Hotsite should be a standalone Event app. It should be implemented as a Progressive Web App.

When the users install it they will be allowed to Receive Notifications about the next activities like Coffeebreak, Keynote talks and other stuff like that.

[2017-09-04 19:37] #219 closed

[2017-09-06 17:18] luanfonceca opened #239 "Migrate from digitalocean to heroku"

[2017-09-16 00:24] luanfonceca commented on #210
According to the PR #216 we have allowed a first version of this feature.

![](http://g.recordit.co/Mg7iGWx4sR.gif)

[2017-09-21 14:06] #218 closed

[2017-09-21 18:14] #234 closed

[2017-09-21 20:10] #210 closed

[2017-09-21 21:46] #215 closed

[2017-09-22 15:52] mauricioabreu commented on #211
Can this issue be closed? @luanfonceca

[2017-09-27 21:01] #9 closed

[2017-09-27 23:48] mauricioabreu commented on #217
Done and in production.

[2017-09-27 23:48] #217 closed

[2017-09-27 23:52] mauricioabreu commented on #69
Closed via #194

[2017-09-27 23:52] #69 closed

[2017-09-28 17:47] luanfonceca commented on #202
This issue was done on PR #262 and was already deployed.

![screen shot 2017-09-28 at 14 46 09](https://user-images.githubusercontent.com/1490875/30981808-d77c3f1a-a45b-11e7-9b07-9fb2d7d59731.png)

[2017-09-28 17:47] #202 closed

[2017-09-28 20:22] #211 closed

[2017-09-28 20:22] luanfonceca commented on #211
I am closing this one, cause that was already fixed on other PR.

[2017-09-28 20:25] luanfonceca commented on #184
I am closing this issue, ok @phrfpeixoto? In the future we need to really upgrade the bootstrap but that will be result of a complete redesign. The today's theme is based on that version of bootstrap, upgrade it to bootstrap3 or bootstrap4 will break almost everything.

[2017-09-28 20:25] #184 closed

[2017-09-28 20:28] luanfonceca commented on #160
All the i18n problems and misspellings was already solved in other issues. So i am closing this one.

[2017-09-28 20:28] #160 closed

[2017-09-28 20:29] renatooliveira opened #264 "Install fix my django extension"
http://www.fixmydjango.com/

[2017-09-28 20:29] #264 closed

[2017-09-28 20:32] luanfonceca commented on #151
Hi @vmesel, i am now working in @labcodes so i am working in Speakerfight part-time every month, so we create two new milestones, one that will end on December and the other on March.

So the project are running again, sorry if its too late.

[2017-09-28 20:32] #151 closed

[2017-09-28 20:36] luanfonceca commented on #198
For me this issues depends on #149. I think that the way we setup `django-allauth`, i dont know how the user account that signed up using Social Login will behave with we try to change the password.

That cases needs to be reviewed for someone.

[2017-09-28 20:37] luanfonceca commented on #154
I am closing this issue now, ok?

[2017-09-28 20:37] #154 closed

[2017-09-28 20:38] luanfonceca commented on #66
With the issue #239, we will use `python-decouple`, finally.

<3

[2017-09-28 20:38] #66 closed

[2017-09-28 20:40] luanfonceca commented on #123
I am closing this issue ok? I will not pass PRs with PEP8 problems, its so common to Python develoipers to code based on pep8 linters, so everyone usually are ok with it.

[2017-09-28 20:40] #123 closed

[2017-09-28 20:45] luanfonceca opened #265 "Review english texts"
To review it, just go through the english .po translation files:

1. `locale/en/LC_MESSAGES/djangojs.po`
1. `locale/en/LC_MESSAGES/django.po`

To change some text, look at the .po header to figure out where that translation is then:
1. Change it inside its original file
1. Create the new messages files using `python manage.py makemessages --all`
1. Compile it `python manage.py compilemessages`

[2017-09-28 20:51] luanfonceca opened #266 "Responsive Navbar bugs"
If we open Speakerfight using small screen we face several bugs with the navbar and sidebar:

1. Login navbar not closes when we click for the second time;
1. Sidebar are not overlapping the rest of the site;
1. Sidebar doesn't work on the index site

![screen shot 2017-09-28 at 17 47 12](https://user-images.githubusercontent.com/1490875/30989743-23eb3cde-a475-11e7-88b3-135b35dd46e3.png)

[2017-09-28 20:53] luanfonceca opened #267 "Responsive Call To Action button bugs"
Beside its size is too exaggerate for the layout, if the text breaks to a new line the button doesn't follow it. So it should be nice if we change his layout to a simple one that works better in small screens.

![screen shot 2017-09-28 at 17 52 02](https://user-images.githubusercontent.com/1490875/30989908-c9ed893e-a475-11e7-98e1-ee1f900da7c2.png)

[2017-09-28 21:35] previousdolphin commented on #265
`locale/en/LC_MESSAGES/djangojs.po` was all good - i made a few edits to the grammar / spelling of `locale/en/LC_MESSAGES/django.po` to improve the English.

[2017-09-28 21:43] sneakycr0w commented on #266
It looks like you've got a large project tree. Do you have a permalink to your CSS?

[2017-09-28 21:57] elina-codes commented on #267
I'd be happy to pick this up!

[2017-09-28 22:09] luanfonceca commented on #266
Hi @sneakycr0w, Yeah, the project is running since 2014. If you need anything, just tell me here.

[2017-09-28 22:09] luanfonceca commented on #267
Hi @elina-codes, Okay! If you need anything from me, please, just tell me.

<3

[2017-09-28 22:25] luanfonceca opened #269 "Add metatags for social networks"
Today, if we share a link from Speakerfight into facebook or twitter there will be no previews or meaningful texts in the post because we didint setup any tags on html files.

[2017-09-28 22:34] luanfonceca commented on #269
This issue is related with #7, it should be awesome if when I Share a proposal, the preview use the Author photo and the texts came from the proposal.

[2017-09-28 23:09] elina-codes commented on #267
Awesome! Will do. :)

[2017-09-28 23:10] steffiau commented on #269
Hi, I'd like to give this a shot!

[2017-09-29 01:12] elina-codes commented on #267
Oh, would you mind assigning the issue to me?

[2017-09-29 04:08] poolsocks commented on #221
Hey there,

I'm versed in AngularJS and Material design. I'd love to help, but I'm not exactly sure what you are wanting.

Could you give more information?

[2017-09-29 04:18] luanfonceca commented on #269
Hi @steffiau, Ig you need anything, please just tell me. And do you have any plans in how to approach this issue?

[2017-09-29 04:21] luanfonceca commented on #267
Done, you should receive a invite in your mail about it, after accepting i will be able to asign you in the issue.

[2017-09-29 14:28] luanfonceca commented on #221
Hi @poolsocks. Today the login/signup process is built using normal request-response calls: The user is redirected to the login/signup page, fill the form and everything else and after that is redirected back to where he was.

This issue aims to made all this process trough a Modal without the user leave the page.

[2017-09-29 14:31] luanfonceca commented on #221
We already have Django Rest Framework, which is a Django framework for rest applications.

You will using rest to create the login, if you will angular or something else, its okay for me. Usually i stay on jquery cause its easier for other people to contribute with Speakerfight.
Another important point is that we are using Bootstrap3 and it may keep with it for a while, until a redesign starts, at

[2017-09-29 15:45] luanfonceca commented on #32
Hi @vmesel Yeah, i think in something like it, the user needs to login/signup in order to send proposals. All that needs to be implemented on the DRF api.

[2017-09-29 16:11] elina-codes commented on #267
@luanfonceca something came up this morning that means I won't have the time I thought I'd have to work on this. I'm afraid you'll have to assign it to someone else :(. So sorry - best of luck!

[2017-09-29 16:13] luanfonceca commented on #267
:(

Okay @elina-codes, if you think that you have at least time to implement this on the Event Detail page, its enough for me.

Thanks for everything <3

[2017-09-29 16:21] elina-codes commented on #267
I'll let you know if anything changes, or if I see that this is still open once later on I'll message you!

[2017-09-29 16:37] luanfonceca commented on #267
Okay @elina-codes, there are many ways to contribute with Speakerfight and i am here to help you out on all one them

o/

[2017-09-29 16:38] luanfonceca opened #273 "Redesign the Event Form"
I am thinking on something like this:

![screen shot 2017-09-29 at 13 38 14](https://user-images.githubusercontent.com/1490875/31026112-7aa08826-a51b-11e7-909f-8cd840d4d3fc.png)

[2017-09-29 16:54] luanfonceca commented on #192
This is a dupe from #223

[2017-09-29 16:54] #192 closed

[2017-09-29 17:46] HargovindArora commented on #273
@luanfonceca Hey I am looking up to this.

[2017-09-29 17:58] luanfonceca commented on #273
Hello @HargovindArora, thanks for the interest on helping us. For now, you can skip the `Event Date` field, it is still being develop in #197.

If you have any more doubts, please tell me

[2017-09-29 18:10] HargovindArora commented on #273
@luanfonceca I am new to all this so might be requiring help. I want you to guide me to exact file location, please. I know that's a dumb question. I'm new to this project.

[2017-09-29 18:14] luanfonceca commented on #273
The choices for Permissions

1. "Who can see the event?"
  - Everyone
  - Only Me and the Jury
1. "Who can see the proposals`s authors?"
  - Everyone
  - Nobody
1. "Who can vote on proposals?"
  - Everyone
  - Only Me and the Jury

I think this cover all of our cases.

[2017-09-29 18:16] luanfonceca commented on #273
@HargovindArora we can chat on http://gitter.im/luanfonceca/, for this feature you will work with some files. For sure on:
- `deck/templates/event/event_form.html`
- `deck/views.py` line 81
- `deck/forms.py` line 22

[2017-09-29 18:21] HargovindArora commented on #273
@luanfonceca Oh. Thanks a lot. I'm starting to work on it. Will let you know if I run into some doubt.

[2017-09-29 18:22] luanfonceca commented on #273
Ok, thanks in advance.

o/

[2017-09-29 22:51] lex111 commented on #267
@luanfonceca I understand correctly, do I need to change the size of buttons for mobile devices? Like that:

![image](https://user-images.githubusercontent.com/4408379/31038851-a67a47be-a581-11e7-96c0-55e9886fce32.png)

[2017-09-30 00:00] luanfonceca commented on #267
Hi @lex111, yeah. Fix this bugs with small screens.

[2017-09-30 07:08] lex111 commented on #267
@luanfonceca ok I want to take it.

[2017-10-01 01:19] steffiau commented on #269
Hi @luanfonceca, I've wanted to take a look first before giving a suggestion, but I'm having problems building the environment. I had some permission problems running pip install, so I ran the below:
`sudo pip install --ignore-installed -r requirements.txt`
It got me further but then it had this error:
[code]
Still trying to find a fix. Any ideas?

[2017-10-01 03:05] mauricioabreu commented on #269
Hi @steffiau
I think the problems you have are related to installing these depencies inside OS Python, right?
Just like Ruby, Python has its own virtual environment ecosystem (`pip`). It means you need a virtualenv to install Speakerfight dependencies without harming your MacOS.

[2017-10-01 18:45] steffiau commented on #269
Thanks @mauricioabreu! Yes I've looked for similar issues online and seems like most point to problem with using OS Python. I've tried using homebrew to install another version of Python but it didn't help. (Hopefully I haven't totally messed up my environment yet)
I will try installing virtualenv and see if it works!

[2017-10-01 18:52] mauricioabreu commented on #269
@steffiau cool! You are in the right way.

After installing virtualenv (it needs root permissions to be installed), you can can execute these commands:

[code]

Now you can follow the rest of the docs to start hacking on.

[2017-10-01 20:35] luanfonceca commented on #267
Ok @lex111!

[2017-10-02 12:53] lex111 commented on #267
Created PR #278

[2017-10-02 17:42] anapaulagomes commented on #226
Hey, can you add the steps to reproduce the page where the button should be? Or add a screenshot? Thanks!

[2017-10-02 18:00] luanfonceca commented on #226
Hi @anapaulagomes, someone already took this issue on the PR #272 i recommend you to choose other task

[2017-10-02 18:03] luanfonceca commented on #226
If you want to chat with me about all that, please join our gitter, at least in speak Portuguese in there :D

https://gitter.im/luanfonceca/speakerfight

[2017-10-02 21:02] anapaulagomes commented on #163
On it.

[2017-10-03 14:02] dayanyrec commented on #190
Hi!

I think we can centralize the whole text.

@vmesel and @luanfonceca Do you have any suggestions about that?

[2017-10-03 14:28] luanfonceca commented on #190
Hi @dayanyrec, its okay for me.

I am going to create a issue for you to close it ok?

[2017-10-03 14:39] luanfonceca opened #280 "Implement `slots`, `due_date` and `event_date` side-by-side"
This issue has a blocker of the PR #197, if we finish this berfore the PR we can deliver without the `event_date` and open a new issue for that field.

![screen shot 2017-09-29 at 13 44 01](https://user-images.githubusercontent.com/1490875/31130983-4a49b7b2-a82f-11e7-9524-7406845ec6a8.png)

[2017-10-03 14:57] HargovindArora commented on #273
![screenshot from 2017-10-03 20-09-22](https://user-images.githubusercontent.com/22341493/31131981-42f586f4-a879-11e7-8535-d3add2398fcd.png)

[2017-10-03 15:18] jlugao commented on #224
Hi,
I'd like to start contributing to the project and this is one of the things I can help with. Is the redesign for the homepage only or the entire app? Are there any guidelines on the style?should it look like twilio, github, stripe or any other site? is it supposed to be minimalistic, modern, classic?

Another thing, I think that the value proposition will be greatly improved if you consider ch

[2017-10-03 15:24] luanfonceca commented on #224
Hi @jlugao, this is a bigger issue, since i removed it from the hacktoberfest. Can you please join me on http://gitter.im/luanfonceca?

[2017-10-03 16:21] #267 closed

[2017-10-03 17:40] dayanyrec commented on #190
Ok. Please, send me a link or an issue number if possible. 😃

[2017-10-03 17:51] luanfonceca opened #281 "Improve 404 page"
Today the 404 page has a left-aligned typography and a button to `/events/`.

![screen shot 2017-10-03 at 14 47 00](https://user-images.githubusercontent.com/1490875/31140079-cb09583e-a849-11e7-9c4c-41e692517104.png)

It should be nice if we align it better and add a bigger search input and giving a hint for the user to search some event.

This issue should be done by @dayanyrec.

[2017-10-03 17:52] luanfonceca commented on #190
Hi @dayanyrec, i just created the #281 and i am closing this one.

[2017-10-03 17:52] #190 closed

[2017-10-03 19:51] luanfonceca opened #282 "Add Sentry User Feedback"
Enabling User Feedback allows you to interact with your users on an unprecedented level. Collect additional details about issues affecting them, and more importantly reach out to them with resolutions.

When configured, your users will be presented with a dialog prompting them for additional information. That information will get attached to the issue in Sentry

<img width="768" alt="screen shot 2

[2017-10-03 19:54] mauricioabreu commented on #104
@luanfonceca

[2017-10-03 19:55] mauricioabreu commented on #60
Hey @luanfonceca it could be a project with multiple issues. It is better to start small and increment little by little. :) We can start with only numbers and then have charts, export features, etc.

[2017-10-03 20:04] luanfonceca commented on #104
This issue has almost two years haha

And its not even in a milestone. So on #224 this should be better covered, if we do something today it just be a waste of time.

<3

[2017-10-03 20:04] #104 closed

[2017-10-03 20:05] luanfonceca commented on #60
Yeah, this is something like a dashboard.

But its not in the actual roadmap.

[2017-10-03 20:09] Pratyum commented on #280
Hey there! Is it possible for me to work on this issue?

[2017-10-03 20:15] luanfonceca commented on #280
Sure it is! But there is the blocking from the other issue okay?
I think we can work on the Slots and Due Date field for now.

the Slots represent the number of talks that will be accepted after the call for papers and the Due Date is when the call for papers will close.

[2017-10-03 20:24] mauricioabreu opened #283 "Add codecov to report code coverage"
This tool needs to be integrated into the CircleCI workflow: https://codecov.io/

[2017-10-03 20:29] luanfonceca commented on #283
Its just for coverage? If it is we already use Coveralls https://coveralls.io/github/luanfonceca/speakerfight and for code quality we use Landspace https://landscape.io/github/luanfonceca/speakerfight

[2017-10-03 20:34] mauricioabreu commented on #283
Uh, sorry. Now I see.
Would not it good to let coveralls send messages to pull requests? Also, I think that we should deny pull requests that lower the coverage because it means that code is being added without being tested. What is your opinion?

[2017-10-03 20:41] luanfonceca commented on #283
Amazing! I just dont know how setup this, if the coveralls has it, if doesnt we can switch to codecov instead.

[2017-10-03 22:01] luanfonceca opened #284 "List Organizations"
There is a blocking issue #130.

Tasks
- We need to add a link on the "User Menu"
- Create a page for list all the Organizations that the logged user belongs to
- In case of its a superuser we need to list All Organizations

Observations
- The Update and Remove button will not work

![screen shot 2017-10-03 at 18 58 32](https://user-images.githubusercontent.com/1490875/31151228-e2b6fc8e-a86c-11e7-

[2017-10-03 22:08] luanfonceca opened #285 "Add Users to Organizations"
This issue depends on #130.

We need to create a field to add Users into a Organization. This field is called `members`.

In the "Invite more people" field, we can only asks for a email address and try to relate that user with this Organization and send a email telling to the user that he was joined. If the users doesnt exists on speakerfight we can just return an error telling that this user need

[2017-10-03 22:12] luanfonceca opened #286 "Update Organizations"
This issue depends on #130.

Using the same form that we have used on the #130. Allows users to update their organization Name and Description. If the issue #285 was not ready yet, we need to skip that "Members" content.

![screen shot 2017-10-03 at 19 10 21](https://user-images.githubusercontent.com/1490875/31151633-b141c3f8-a86e-11e7-89e6-89d477d4aebc.png)

[2017-10-03 22:17] luanfonceca opened #287 "Remove Organization"
Allow users to delete the Organization.

![screen shot 2017-10-03 at 19 16 22](https://user-images.githubusercontent.com/1490875/31151776-778bb406-a86f-11e7-893b-46f56678deee.png)

[2017-10-03 22:33] Pratyum commented on #280
Awesome! I have some updates to share! Please tell me if this is what you are looking for?
![screen shot 2017-10-04 at 6 28 20 am](https://user-images.githubusercontent.com/8772861/31152237-d247f0fe-a8cd-11e7-8e8b-81e6fabb19d1.png)
![screen shot 2017-10-04 at 6 29 29 am](https://user-images.githubusercontent.com/8772861/31152235-d245536c-a8cd-11e7-81e7-c92e394313d2.png)
![screen shot 2017-10-04 at

[2017-10-03 22:35] luanfonceca opened #288 "Choose to create event from a Organization"
Instead of having a "Author" we will have a "Organized by" relation (even if only in frontend) that appoints to `User` or a `Organization`.

![screen shot 2017-10-03 at 19 34 29](https://user-images.githubusercontent.com/1490875/31152323-e9c98758-a871-11e7-9cff-16957d759be5.png)

[2017-10-03 22:36] luanfonceca opened #289 "Update Event permission to work with Organizations"
This issues depends on #130.

We need to review every page from "Event" to "Proposal", "Jury" and "Schedule" pages in order to make it work with the Organizations members.

[2017-10-03 22:44] luanfonceca opened #290 "Create a Detail page for Organization."
This issue depends on #130.

We need to list all the events that this Organization have created.

![screen shot 2017-10-03 at 19 43 25](https://user-images.githubusercontent.com/1490875/31152571-27bd5e76-a873-11e7-882b-226101cf5f6d.png)

[2017-10-03 22:47] luanfonceca commented on #280
I think that you need just to adjust the order:
Slots,  Due Date and  Event Date

[2017-10-03 22:49] Pratyum commented on #280
![screen shot 2017-10-04 at 6 48 51 am](https://user-images.githubusercontent.com/8772861/31152764-1fd5c6aa-a8d0-11e7-9d70-4d8eb76aade6.png)

[2017-10-03 22:50] Pratyum commented on #280
I have already changed the same.
Please review the pull request and merge

[2017-10-03 22:54] luanfonceca commented on #280
Okay!

[2017-10-03 23:15] tulikavijay commented on #284
Can I take this up?

[2017-10-04 00:04] tulikavijay commented on #288
Can I take this up?

[2017-10-04 00:43] mauricioabreu commented on #130
I am doing this one. It will be real fast. :+1:

[2017-10-04 02:47] luanfonceca commented on #288
Hi @tulikavijay, sure you can.

If you need something just call me: http://gitter.com/luanfonceca/

[2017-10-04 02:47] luanfonceca commented on #288
But this issue depends on #130, okay?

[2017-10-04 02:48] luanfonceca commented on #288
If you want to implement the frontend (including views) its okay for me

[2017-10-04 02:53] luanfonceca commented on #284
Hi @tulikavijay,sure you can take it.
If you need something just call me on http://gitter.com/luanfonceca/

[2017-10-04 09:49] atmishra commented on #290
Hey, I would like to work on this item.

[2017-10-04 14:20] luanfonceca commented on #286
@mauricioabreu is doing this right now.

[2017-10-04 14:32] luanfonceca commented on #290
Hi @atmishra, please be welcome to contribute with us

This issue depends on #130 #288.

<3

[2017-10-04 16:29] luanfonceca opened #295 "Allow users to crop profile pictures"
We tried to use the `cropit` plugin to upload and crop the pictures, but it didn't work.

<img width="641" alt="screen shot 2017-10-04 at 13 28 12" src="https://user-images.githubusercontent.com/1490875/31187355-0a6b892a-a908-11e7-887b-5ce592ed7a08.png">

[2017-10-04 20:00] #286 closed

[2017-10-04 20:01] luanfonceca commented on #290
Hi @atmishra, when can you start developing this?

[2017-10-04 20:02] luanfonceca commented on #284
Hi @tulikavijay, when do you will be able to start doing this issue?

[2017-10-05 01:36] tulikavijay commented on #284
I will work on this today. If I have any questions i will ask :)

[2017-10-05 02:08] luanfonceca commented on #284
Ok @tulikavijay, i am here to help

o/

[2017-10-05 04:01] arturfelipe commented on #287
Hi @luanfonceca can I get this one?

[2017-10-05 04:28] arturfelipe commented on #287
@luanfonceca What do you think to change the URL to: `/organizations/<slug:slug>/delete/`? I think I will need it to get the expected organization to be deleted by slug right?

[2017-10-05 05:50] arturfelipe commented on #285
Hey @luanfonceca can I help with this one?

[2017-10-05 09:42] atmishra commented on #290
I will start it soon. Can we discuss it in more detail?

[2017-10-05 12:48] alessandroHenrique commented on #225
I'm taking this issue.

[2017-10-05 16:32] luanfonceca commented on #290
Sure we can. Just tell me your ideas and questions.

[2017-10-05 16:34] luanfonceca commented on #285
Yeah, sure! If you need some help please come to http://gitter.im/luanfonceca

[2017-10-05 16:35] luanfonceca commented on #287
You are right, @arturfelipe. Thats my mistake on designing it

[2017-10-05 23:27] vctrferreira commented on #295
I'll do it :D

[2017-10-05 23:45] mauricioabreu commented on #130
Done.

[2017-10-05 23:45] #130 closed

[2017-10-05 23:47] mauricioabreu commented on #226
@anapaulagomes are you working on this? Want some help?

[2017-10-05 23:48] anapaulagomes commented on #226
No, someone already took. @mauricioabreu :(

[2017-10-05 23:50] mauricioabreu commented on #226
@anapaulagomes :(
Well, no one is assigned.

@luanfonceca do you know who is working on this?

[2017-10-06 01:28] imdavidy commented on #281
i'll do my best!

[2017-10-06 01:43] vctrferreira commented on #295
@luanfonceca you will need necessarily use cropit or I can use another lib?

[2017-10-06 03:18] steffiau commented on #269
@mauricioabreu Thanks for the tip! I got it going finally :)

[2017-10-06 12:15] mauricioabreu commented on #269
You are welcome @steffiau :D

[2017-10-06 17:48] BrianPainter commented on #283
It looks like it's a setting within coveralls on the repo.
![image](https://user-images.githubusercontent.com/1342663/31291109-f182d648-aa9c-11e7-804d-45e53855884f.png)

[2017-10-06 19:18] varlen commented on #295
Hi @luanfonceca, I would like to work on this issue. Can I take it?

[2017-10-07 19:24] victorhos commented on #222
Hi @luanfonceca, can I get this issue?

[2017-10-07 22:43] steffiau commented on #269
I am looking at adding the meta tags in index.html, event_list.html, past_event_list.html, event_detail.html, in its own block.
E.g.
[code]

For event_detail.html, I can use the event.title and event.description
For the index.html, event_list.html, past_event_list.html, what would you like to use for description?
Also, is there any image (maybe something with the site's logo for example) you want

[2017-10-08 18:16] huogerac opened #301 "Where or how can we access the user organization?"
1. As a logged user, I created an organization.
2. As a logged user, how can I see my organization?
3. Is it the goal having an url such as /organizations/grypy in order to list all events? #290 (is it public or exclusive for the organization owner?)

notes: Today the organization app has the following urls:
[code]

[2017-10-08 18:23] huogerac commented on #290
Hi @luanfonceca
I'm trying to understand the features surrounding the organization, however, I couldn't understand very well all the picture.
For example:
- for who is the organization page detail? the owner for update or a public page for every one.. #301
- (as an organization owner) How can I access my organization?
- Will it be possible for people see all organizations? or visitors will see jus

[2017-10-08 19:59] mauricioabreu commented on #198
@luanfonceca we already have a way to change the password provided by django-allauth. It is a view just like Django's : https://github.com/pennersr/django-allauth/blob/master/allauth/account/views.py#L530

[2017-10-08 22:46] luanfonceca commented on #295
Sure you can!

[2017-10-09 20:02] luanfonceca commented on #198
Sure @mauricioabreu, for the normal users works fine, but i dont know how a user that had made his login using Github and then change his password, you got it? That kind of scenario.

[2017-10-09 20:02] luanfonceca commented on #198
But this issue needs to add some links on the User navbar indeed.

[2017-10-09 20:08] mauricioabreu commented on #198
@luanfonceca :)

I know how to handle that. I am assigning this to me, ok?

[2017-10-09 20:25] luanfonceca commented on #198
Okay

[2017-10-09 20:57] luanfonceca opened #304 "Create a date for start accepting proposals"
Implement on the `Event` model a datetimefield named `accept_proposals_at` and test it on `test_unit.py`.

[2017-10-09 21:02] luanfonceca opened #305 "Add the `accept_proposals_at` on Event Form."
We have added a field named `accept_proposals_at` on the `Event` model, according to the issue #304, its blocking by his progress, until someone implement it we can't do anything.

This issue aims just to add the new field on the `event_form.html` template, make it work with the Create and Update actions and change the necessary tests on `test_functional.py`.

[2017-10-09 21:08] luanfonceca opened #306 "Not accept proposals before the `accept_proposals_at` date."
This issues depends on #304.

if some event has defined the `accept_proposals_at` field, we can only accept proposals after that time, this should create some changes on the Models, Views and tests.

Tasks:
- Check if the `accept_proposals_at` date has passed.
- Restrict the cases that the proposal cant be created and return a Message for the user.
- Add tests to assert that the a proposal cannot

[2017-10-10 02:07] chawki27000 commented on #305
I take this one

[2017-10-10 02:21] chawki27000 commented on #304
i take this one

[2017-10-10 02:59] arturfelipe commented on #285
Hey @luanfonceca what do you think about adding members with some membership types, like Owner? That way I believe that queries will be easier to get members, and still keeping the ownership info, and why not enable more than one owner per org. Let me know if you just want to keep the `created_by` field and create a `members` relation.

[2017-10-10 18:37] Pratyum commented on #281
I would like to help with this page

[2017-10-11 14:09] luanfonceca opened #313 "Speakerdeck link to slides on Proposal"
It should be nice if we add a `slides_url` field to the `Proposal` and show it on Event Detail page.

This issue is for @jtemporal

[2017-10-11 14:11] cacoze commented on #306
Hi @luanfonceca, I would like to work on this issue. Can I take it?

[2017-10-11 14:23] luanfonceca opened #314 "Add Call For Papers closing date"
We need to implement on `Event` a field to stop accepting proposals after that date.

Tasks:
- Add a field on Event
- Restrict on Views and Models
- Add tests

[2017-10-11 14:25] luanfonceca commented on #304
Hi @chawki27000, i saw that your repository was deleted, whats happen? Can i move this issue to someone else.

[2017-10-11 14:28] biancarosa commented on #314
I'm doing this one.

[2017-10-11 14:33] huogerac commented on #284
Even though the **create organization task** is done. Is there another task regarding the new fields such as Facebook, Twitter urls?

[2017-10-11 14:43] luanfonceca commented on #313
[code]

[2017-10-11 14:45] luanfonceca opened #316 "Add links to Organization profile"
In the Organization detail page, it should be nice if we allow the user to fill quick links like: Site, Facebook, Twitter, Email.

You can look at the Profile Page to see something like.

[2017-10-11 14:51] gsrajadh commented on #316
Can I work on this?

[2017-10-11 14:54] luanfonceca commented on #316
Sorry @gsrajadh, this issue is assigned to @nicysneiros

[2017-10-11 15:04] luanfonceca commented on #290
Hi @huogerac, the Organization is usually a group of that manages the events.

The Organization is for the Members.
Everyone can see the Organization profile.
There will be a link on the User Sidebar to list the organizations that i belong to.

[2017-10-11 15:08] luanfonceca opened #318 "Remove profile picture field from Profile Form."
<img width="827" alt="screen shot 2017-10-11 at 12 07 40" src="https://user-images.githubusercontent.com/1490875/31449273-dc2bca32-ae7c-11e7-9c81-86c0509e31f4.png">

This issue belongs to @nicysneiros.

[2017-10-11 15:10] luanfonceca opened #319 "Improve the Profile page."
This issue belongs to @nicysneiros.

Improvements:
- Form layout
- Twitter

[2017-10-11 15:54] chawki27000 commented on #304
Hi @luanfonceca, I had delete a precedent PR for a new one #309.

[2017-10-11 17:48] girol commented on #319
Can you help me where the files are located?

Which improvements do you need? :)

[2017-10-11 17:54] luanfonceca commented on #319
This issue is assigned to @nicysneiros @girol

[2017-10-11 17:55] luanfonceca opened #322 "Add button to speakerdeck slides"
We need to use the iframe from speakerdeck to include the slides on Proposal content.

[2017-10-11 18:09] meiralins commented on #319
@nicysneiros @luanfonceca ,
yesterday I sent #310 that is related to this issue.
remember to hide the Change Photo button if user is not in its own profile.

[2017-10-11 18:13] luanfonceca opened #324 "Add first_name and last_name on the Sign Up form."
This issue belongs to @maribedran.

The files that you may need to change the `core/templates/account/signup.html` and the SignupForm class.

Reference: https://stackoverflow.com/a/35029585/1530565

[2017-10-11 18:18] RajatGarg97 commented on #324
May I try this @luanfonceca ?

[2017-10-11 18:25] vinimtex commented on #322
@luanfonceca can i do this task?

[2017-10-11 18:29] luanfonceca commented on #324
Hi @RajatGarg97, sorry but this issue is intended to be develop by @maribedran.

[2017-10-11 18:48] luanfonceca commented on #319
@meiralins i will merge both, okay?

[2017-10-11 19:10] #313 closed

[2017-10-11 19:14] meiralins commented on #319
@luanfonceca okay!
but if it is easier to @nicysneiros and you, feel free to reject it =)

[2017-10-11 19:16] meiralins commented on #319
either way, i will do a quick rebase now.

[2017-10-11 19:39] #318 closed

[2017-10-11 19:44] mazulo commented on #172
How can we proceed with this one?

[2017-10-11 20:35] meiralins commented on #172
@mazulo , did you replicate this issue?
i believe this should be solved by now.

[2017-10-12 11:54] sunnySinghD commented on #223
i'd like to try to take a look at this. i'm sure i'll have questions this seems a little complicated.

[2017-10-12 21:29] varlen commented on #295
@luanfonceca, I've setup the dev environment but didn't have further time to look into it. I'll be back
on Sunday. Pass it to someone else if you want.

[2017-10-12 22:07] gabrielecker commented on #322
@luanfonceca i would like to work on this if you can give more details

[2017-10-12 22:14] mauricioabreu commented on #322
Sorry it was already done via #326

[2017-10-12 22:14] #322 closed

[2017-10-13 15:31] maribedran commented on #306
Hi @luanfonceca , may I take that one? I reviewed the PR to the #304 issue and it seems to be ok, I could start working from it.

[2017-10-13 20:23] jChapman opened #333 ""JOIN THE FIGHTERS" button at bottom of homepage leads to 400"
Clicking on the button at the bottom of the page leads me to this link:
https://speakerfight.com/events/'%20%%7D
Which yields a 400 Bad Request

[2017-10-13 22:07] luanfonceca commented on #333
Hi @jChapman, do you want to fix that?

Looks like its just a html or translation problem.

[2017-10-16 18:02] luanfonceca commented on #333
This was done on PR #335

[2017-10-16 18:03] #333 closed

[2017-10-16 18:03] luanfonceca commented on #319
This was done on the PR #327

[2017-10-16 18:03] #319 closed

[2017-10-16 18:04] luanfonceca commented on #295
Thanks for the reply @varlen, take the time you need to <3

[2017-10-16 18:05] luanfonceca commented on #287
This was done on PR #298.

[2017-10-16 18:05] #287 closed

[2017-10-16 21:48] arturfelipe commented on #227
Hi @luanfonceca can I work with this one? I'm really interested in PWAs and want to have an opportunity to apply the techniques to a production project.

[2017-10-17 13:00] luanfonceca commented on #324
This was done on PR #329.

[2017-10-17 13:00] #324 closed

[2017-10-17 13:05] luanfonceca commented on #227
Sure you can take this!

<3

[2017-10-17 14:30] luanfonceca opened #340 "Navbar bugs (fonts and misalignings)"
This issue belongs to @nicysneiros.

<img width="122" alt="screen shot 2017-10-17 at 11 27 26" src="https://user-images.githubusercontent.com/1490875/31670602-5aa66812-b32e-11e7-9506-49f3daf044dc.png">
![screen shot 2017-10-17 at 11 30 04](https://user-images.githubusercontent.com/1490875/31670695-8af19b5e-b32e-11e7-8686-550eb9aba2ac.png)

[2017-10-17 16:54] #314 closed

[2017-10-17 21:23] luanfonceca opened #342 "Users cannot save the Description from Activity Modal."
In the Create Scheduled page, there are a bug that doesn't save Activity's Description.

![](http://g.recordit.co/Hx5u3XCeSZ.gif)

[2017-10-17 21:27] luanfonceca opened #343 "Allow user to change the `activity_type` on Updating the Activity"
We need to allow users to choose the actitivty on the Creation and Update forms.

The create actitivty form:
<img width="958" alt="screen shot 2017-10-17 at 18 25 53" src="https://user-images.githubusercontent.com/1490875/31690276-a30167a8-b368-11e7-9a34-99a5d5ab6cb9.png">

The update actitivty form:
<img width="989" alt="screen shot 2017-10-17 at 18 26 22" src="https://user-images.githubuserconte

[2017-10-18 04:19] shivasheeshyadav commented on #340
@luanfonceca I would like to work on this issue. Please assign it to me.

[2017-10-18 09:08] ryanermita commented on #343
@luanfonceca i'll take this one.

[2017-10-18 09:20] ryanermita commented on #343
@luanfonceca where can i add the activity? is it in the user side or admin side?

[2017-10-18 15:19] luanfonceca commented on #340
this issue was already assigned to @nicysneiros, sorry @shivasheeshyadav

[2017-10-18 15:20] luanfonceca commented on #343
Hi @ryanermita, we dont use the Admin. Follow this workflow:

1. Create an Event
2. Click on `Create Schedule` button
3. Click on `Add Activity` button

[2017-10-18 15:42] cleisonsilfer commented on #342
I think I can help with this bug.

[2017-10-18 16:02] ryanermita commented on #343
thanks @luanfonceca , im looking into it.

[2017-10-18 16:03] luanfonceca commented on #342
Okay @cleisonsilfer, this page uses a bit of Ajax with an api built on `django-rest-framework` okay?

[2017-10-18 22:02] #225 closed

[2017-10-19 13:12] cleisonsilfer opened #347 "Some pages are borderless"
Some pages have a problem that lacks a margin between the top bar and the content.
<img width="1280" alt="screen shot 2017-10-18 at 12 21 57" src="https://user-images.githubusercontent.com/11786543/31772423-5d453dbe-b4be-11e7-9ebd-71ea800a5b75.png">
<img width="1280" alt="screen shot 2017-10-18 at 12 21 45" src="https://user-images.githubusercontent.com/11786543/31772424-5d6ed5ac-b4be-11e7-9b1a-ab

[2017-10-19 13:13] cleisonsilfer commented on #347
Fixed in PR #348

[2017-10-19 19:24] gabrielecker opened #350 "Event form enhancements on `closing date` field"
The `closing date` input from event form looks confusing at this moment. I've seen many people forget it by the first time they try to create an event.
Can we discuss ways to make it better?

[2017-10-19 19:33] luanfonceca commented on #350
Sure we can @gabrielecker, join me on gitter: http://gitter.im/luanfonceca

[2017-10-21 03:55] ryanermita opened #353 "Wrong Parsing of closing date on Event Creation"
yo @luanfonceca I tried to create an event. On the closing time datefield when I select october 4, 2017 for example. It shows April 10, 2017 on the event created.

will fix this.

[2017-10-21 18:16] maribedran commented on #289
Taking a look at this one, @luanfonceca

[2017-10-24 12:30] ryanermita commented on #342
@luanfonceca i will look into it to. :)

[2017-10-24 12:55] mdaizovi commented on #295
If this doesn't work out, I have successfully implemented django-image-cropping into a project. Let me know.

[2017-10-26 10:59] anapaulagomes commented on #163
The number 2 was accomplished on #357. Feel free to tackle the number 1 (front end is not my thing, sorry 😐).

[2017-10-26 21:01] sunnySinghD commented on #223
![screen shot 2017-10-26 at 16 59 22-fullpage](https://user-images.githubusercontent.com/2585860/32076815-3bd7675e-ba6f-11e7-9105-93a9bc5b8454.png)
![screen shot 2017-10-26 at 16 59 38-fullpage](https://user-images.githubusercontent.com/2585860/32076816-3be2331e-ba6f-11e7-9f5e-21e893cbbc40.png)

[2017-10-26 21:02] sunnySinghD commented on #223
is this what you had in mind? the default track isn't displayed in a panel currently because there is no title for it.

[2017-10-26 21:04] luanfonceca commented on #223
Hi @sunnySinghD, yeah it something like that, do you want to work on this?

[2017-10-26 21:04] sunnySinghD commented on #223
yes if you dont mind.

[2017-10-26 21:05] luanfonceca commented on #223
I would love to have someone working on this. Join me on http://gitter.im/luanfonceca anytime you have any questions

[2017-10-30 15:25] varlen commented on #295
Hi @mdaizovi, you can go ahead with this issue! I got stuck with personal issues and could not look further into it.

[2017-10-31 15:20] berinhard opened #366 "SSL certificate maybe is expired"
I tried to access https://speakerfight.com/ and I'm receiving security warnings both in Google Chrome and in Firefox.

![screenshot from 2017-10-31 13-18-55](https://user-images.githubusercontent.com/238223/32232026-3ab47a4c-be3e-11e7-98c0-9ceb7e84a9c5.png)

[2017-10-31 15:21] berinhard commented on #366
@luanfonceca since this is a deploy thing, I don't know if I should have reported it here.

[2017-10-31 17:12] luanfonceca commented on #366
Its okay to add a issue here. i just have renewed the ssl certificate and everything else.

<3

[2017-10-31 17:12] #366 closed

[2017-11-04 16:48] #342 closed

[2017-11-04 17:04] #343 closed

[2017-11-06 14:13] #347 closed

[2017-11-06 14:13] luanfonceca commented on #347
Thanks @cleisonsilfer!

[2017-11-13 16:43] thulioph commented on #227
Hey guys, after discussing with @luanfonceca, I think that the next steps to do this issues are:

## Roadmap

- [ ] Add the social meta-tags to share the event schedule. (Twitter, Facebook and Google Plus)

- [ ] Add `SASS` to the project.

- [ ] Remove the `jQuery` and use the vanilla javascript to make the "hard work".

- [ ] Save the event schedule on the Home Screen. - **WebApp**

- [ ] Send n

[2017-11-13 17:01] arturfelipe commented on #227
Good @thulioph ! I'm currently working with the 2 last items. The "Save the event schedule on the Home Screen" we need to decide what to consider an app.

* Will the entire app be only the Schedule page?
* Or the entire site?

One thing to get in mind is, when the users add the page (app) to the home screen it will never again apply changes in the `manifest.json` file. Only if the users remove it

[2017-11-13 17:57] thulioph commented on #227
Hey @arturfelipe, great!

I think that the purpose is only the schedule page because when the event shares your own `schedule` page, it's related to the event, not the entire app. IMHO, the second approach using the `event-slug/manifest.json` make more sense.

I already started the implementation of these 3 last tasks, If you need a hand, I'm here!

What do you think @luanfonceca ?

[2017-11-30 13:01] wagnerluis1982 commented on #222
Hi, @victorhos, are you actually working in this issue?

[2018-03-05 13:04] victor-torres opened #438 "[UI] Increase selected option contrast"
It's not clear to some people if they really voted for a proposal. The contrast seen may be improved.

Possibilities:

- use different colors
- change background color
- use borders and/or boxes

How it is today:

![screen shot 2018-03-05 at 09 59 48](https://user-images.githubusercontent.com/3674112/36976475-867af610-205c-11e8-8d87-ccafca038cec.png)

[2018-03-05 13:05] victor-torres commented on #438
The contrast may be obvious for you, but for some people with special disabilities and some underpowered devices and their poor screens, the story may be different.

Anyway, this is just a suggestion.

[2018-03-05 13:11] victor-torres opened #439 "[UI] Improve vote option messages"
Actually, a lot of people came to me asking how they should vote because some of the options suggest they're not enjoying the proposal at all. For example, the laughing face. Sometimes when we don't really like a proposal it's not weird to laugh at it.

![screen shot 2018-03-05 at 09 59 58](https://user-images.githubusercontent.com/3674112/36976660-2144adc6-205d-11e8-8c2c-e100599c9f71.png)

Label

[2018-03-08 10:20] rennerocha opened #442 "DEBUG enabled in production"
DEBUG mode is enabled in production:
![debug_enabled](https://user-images.githubusercontent.com/382887/37145877-e472b2bc-22a0-11e8-84e4-6a7acfc25ec5.png)

As Django documentation said: "NEVER deploy a site into production with DEBUG turned on."
https://docs.djangoproject.com/en/2.0/ref/settings/#std:setting-DEBUG

[2018-03-08 10:29] rennerocha opened #443 "Request more information about the proponents"
We don't have enough information about the proponents, making it very difficult to find them. Actually when you export the list of proposals you have the fields: Author and Author E-Mail

Author field doesn't contain a name, but an username that sometimes is useless to identify the person. It would be better to have a real name.
Author E-Mail is fine, however sometimes when you try to contact the

[2018-03-19 19:53] rennerocha opened #452 "Spammers created"
There are some "events" that are spam:
https://speakerfight.com/events/lady-secrets/
https://speakerfight.com/events/viva-hair-2/
https://speakerfight.com/events/creme-lift-x/

[2018-04-17 00:39] reallinfo opened #469 "New logo for Speakerfight"
I wanted to contribute to speakerfight. I designed a logo for it. If you like it, I'll send you files and pr.
Is there anything you want in particular?

![speakerfight](https://user-images.githubusercontent.com/36298335/38842147-f1fab8e8-41f0-11e8-8a69-420354a7d334.jpg)

[2018-04-26 12:51] dvinciguerra commented on #469
+1

[2018-05-07 13:03] dvinciguerra opened #477 "Home page button "JOIN THE FIGHTERS" address issue"
### Description

Button url is pointing to "https://speakerfight.com/events/'%20%%7D".

### Issue

[code]

[2018-05-09 00:09] reallinfo commented on #469
what do you think?

@luanfonceca

[2018-06-14 05:51] pgrangeiro commented on #452
Hi! I'd like to help with this issue. What do you think about implementing a captcha (like the [recaptcha](https://www.google.com/recaptcha/intro/v3beta.html)) into event create form?

[2018-06-20 22:38] lucasmiqueias commented on #439
Yes, I also find it confusing.
I think there are many voting options, that's confusing.

[2018-06-21 01:31] ThiagoLelis commented on #477
I fixed the href link, remove the extra %} inside the string

**Pull Request**
[https://github.com/luanfonceca/speakerfight/pull/501](https://github.com/luanfonceca/speakerfight/pull/501)

[2018-06-24 23:15] pgrangeiro opened #504 "Unable to update profile photo when user cancelled this action previously"
User case:
1. Access user > profile
2. Click in update (alterar) photo
3. Upload a file
4. Click in cancel
5. Click in update (alterar) photo again
6. Upload a new file

Expected action: Expected the user can update his photo even though he has canceled the action previously

Error: the new photo isn't loaded if user has canceled the action previously

Extra info: Chrome 67.0.3396.87 (oficial vers

[2018-06-26 17:46] lucasmiqueias commented on #469
Logo and Wireframe
![image](https://user-images.githubusercontent.com/11753940/41929650-29038e1a-794f-11e8-8f15-d58ae32b9d30.png)
![image](https://user-images.githubusercontent.com/11753940/41929842-bd47c988-794f-11e8-9ded-7ad32e502887.png)

[2018-07-18 18:01] luzfcb opened #515 "certificado HTTPS invalido no site 18-07-2018."
@luanfonceca
Aparentemente o let's encrypt, por algum motivo, não renovou o certificado

![image](https://user-images.githubusercontent.com/807599/42899085-5da69fce-8a9b-11e8-8a1f-645811e4da22.png)

ps: esse projeto tem mais algum mantenedor?

[2018-07-18 18:10] #515 closed

[2018-09-12 13:13] duduribeiro opened #538 "I can see an user talk even if it is an anonymous voting"
Hey folks 👋

I don't know if this is a valid issue or not.

For example: I checked this event https://speakerfight.com/events/1-encontro-mensal-do-opensanca-araraquara/ and it is an anonymous voting event (so, the proposer is hidden)

![image](https://user-images.githubusercontent.com/771411/45427055-4aab4500-b674-11e8-9bcd-eb5ae7e49d52.png)

But if I enter on the profile of the person, I can see

[2018-10-02 21:50] luanfonceca commented on #538
Hahaha.
That's make totally sense, its not right to display it.
We should fix that!

If you want to close it, it'll count for the Hacktoberfest!

[2018-11-01 14:20] rafapg opened #557 "SSL Certified Expired"
The website is running with a expired certified:
![image](https://user-images.githubusercontent.com/6156406/47857272-fb59d900-ddc7-11e8-9f3e-997e8931c2b2.png)

[2019-04-25 15:01] #266 closed

[2019-05-06 12:47] JPTIZ commented on #557
Up.

Is there a way we can help with this issue? It's sort of inconvenient that the browser keeps telling we're in an insecure domain.

[2019-05-06 16:18] luanfonceca commented on #557
Hello @JPTIZ i did the setup on the auto-renew of those certificates but for some reason it didn't worked.

I just renew it by hand and later i'll look on it, we are using the Let's encrypt so it should be something easy to fix, thanks :D

[2019-05-06 16:18] #557 closed

[2019-05-28 14:19] rennerocha opened #558 "Remove excessive information of events list page"
The [list of events](https://speakerfight.com/events/) available shows an excessive amount of information (the complete description of the C4P) making it very annoying to scroll down the screen to see all events that are accepting proposals.

It would be nice if instead of that big amount of text, we could see just the main event information (name, date, proposals accepted until, etc), and if I re

[2019-06-03 00:58] lucabezerra opened #559 "Rating buttons disappear upon clicking in the text"
If you click in 'show more' to expand a talk's description and then click anywhere in the description's text, the rating buttons disappear, forcing me to reload the page in order to see them again.

This happened to me as part of the jury for a closed-vote event, not sure if it also happens to events where voting is open to the public.

[2019-07-02 13:29] helioloureiro opened #560 "Date creation set to January 10th"
I've trying to create an event to test and set the due date to Oct 1st 00:00.  But it ignores my settings and displays as January 10th 00:00 always.

[2019-07-02 13:31] helioloureiro commented on #560
Ok... gotcha the issue.  I set the date to 01/10/2019 00:00.  My settings are in English.  So it is reading it in US format (month/day/year).  Bizarre.

[2019-07-02 13:31] helioloureiro commented on #560
30/09/2019 23:55 displays as invalid.

[2019-07-02 13:35] helioloureiro opened #561 "Mixed Portuguese and English on new proposals."
On title it displays "título".
On further information it displays "mais informações".
ON publish check box it displays "publicar".

[2019-07-02 13:37] helioloureiro commented on #561
Vote buttons also display in Portuguese.

[2019-07-06 23:38] luanfonceca commented on #561
Hi @helioloureiro, i'll look on that right now.

[2019-08-05 15:50] mfpalladino opened #562 "Certificado expirado em 05/08/2019"
NET::ERR_CERT_DATE_INVALID
Subject: speakerfight.com

Issuer: Let's Encrypt Authority X3

Expires on: 4 de ago de 2019

Current date: 5 de ago de 2019

PEM encoded chain:
-----BEGIN CERTIFICATE-----
MIIFWDCCBECgAwIBAgISA2g7aKwb/m/FGRMwAkDy1wBoMA0GCSqGSIb3DQEBCwUA
MEoxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MSMwIQYDVQQD
ExpMZXQncyBFbmNyeXB0IEF1dGhvcml0eSBYMzAeFw0xOTA1MDYxNTE0MTBaFw0x
OTA4MD

[2019-08-05 15:53] AWSUserGroupSP commented on #562
+1

[2019-09-17 16:19] JPTIZ commented on #562
Resolvido até 3 de novembro, imagino?

![image](https://user-images.githubusercontent.com/11988816/65060155-c148e580-d94d-11e9-9bc4-3bf5cee91863.png)

[2019-09-17 16:23] JPTIZ opened #563 "[Suggestion] Link event on new proposal e-mails"
It's sort of inconvenient that I have to manually open my event's URL to see new proposals. It would be really convenient to, when receiving an e-mail with "Your event has a new proposal!" it links to the proposal itself (or at least the event).

[2019-09-30 04:16] vanessa commented on #538
Should this be closed?

[2019-09-30 04:23] vanessa commented on #269
Hey, can I help with this one? Seems like it hasn't been implemented yet.

[2019-09-30 15:19] itepifanio commented on #340
@luanfonceca I think this issue can be closed

[2019-10-19 18:01] vanessa opened #564 "Show feedback that users must be authenticated to vote"
The request returns 403 if the user isn't authenticated, but nothing shows up on the UI.

[2019-10-25 19:36] amandasavluchinske commented on #564
@luanfonceca Can I get this one?

[2020-02-05 17:12] cooperlees opened #574 "New Event shows português when Profile Set to Inglês"
When I went to create a new event I see some checkpoint options in Portuguese.

Mainly:
- Publicar
- Permitir votação pública
- Votação Anônima?

Attaching a screenshot.
![Screen Shot 2020-02-05 at 9 09 10 AM](https://user-images.githubusercontent.com/3005596/73865102-9a555800-47f7-11ea-88f3-7242f5d60a41.png)

Is it possible to have them respect the profiles language setting? Thanks!

[2020-02-05 17:45] cooperlees commented on #574
Also same issue on New Proposal

![Screen Shot 2020-02-05 at 9 45 11 AM](https://user-images.githubusercontent.com/3005596/73867886-4bf68800-47fc-11ea-8419-0a9f047c83b4.png)

[2020-03-09 20:24] cooperlees opened #576 "Unable to change Closing Date"
An event I had expires, but it seems I can't re-open it by changing the close date when I choose to edit.

Is this a bug or expect? Should I be able to change 06/03 to 16/03 ?

[2022-10-09 19:16] wagnerluis1982 commented on #179
This was closed by #261

[2022-10-09 19:16] #179 closed

[2022-11-28 18:19] jjpaulo2 opened #592 "Social login does not working"
When I tried to login to speakerfight using social logins (Google, GitHub, Facebook), I got the errors bellow:

**Google:**

![image](https://user-images.githubusercontent.com/22819523/204350841-efdddf36-9718-44cd-8d39-00b886281644.png)

**GitHub:**

![image](https://user-images.githubusercontent.com/22819523/204350979-1fc5de23-9d4d-4f3c-a25e-aab4a77a5022.png)

**Facebook:**

![image](https://user